<template>
    <b-modal
    v-model="show"
    centered
    hide-header
    hide-footer
    class="add-category"
    name="add-category"
    :height="602"
    :width="1200"
    id="add-category"
    dialog-class="add-category__dialog"
    content-class="add-category__content"
    body-class="add-category__body"
  >
    <h6>Добавить категорию: </h6>
        <div v-if="show">
            <b-form-input v-model="newCategory.category" placeholder="Введите категорию" style="margin-bottom: 15px"></b-form-input>
            <b-button type="submit" variant="light" @click="save()">Добавить</b-button>
            <b-button type="reset" variant="light" >Отмена</b-button>
        </div>
    </b-modal>
</template>
<script>
export default {
    data(){
        return{
            show: false,
            newCategory: {
                category: ''
            }
        }
    },
    methods: {
        save(){
            
            this.$emit('addCategory', this.newCategory)
            this.newCategory.category = ''
            this.show = false
        }
    },
    watch: {
       
        newCategory(bef){
            console.log(bef)
        },deep: true
    }
    
}
</script>