<template>
    <b-modal
    v-model="show"
    centered
    hide-header
    hide-footer
    class="add-color"
    name="add-color"
    :height="602"
    :width="1200"
    id="add-color"
    dialog-class="add-color__dialog"
    content-class="add-color__content"
    body-class="add-color__body"
  >
    <h6>Добавить цвет: </h6>
        <div v-if="show">
            <div class="add-color__wrapper" style="display: flex">
                <b-form-input v-model="newColor.color" placeholder="Введите цвет в формате HEX или RGBA" style="margin-bottom: 15px;margin-right: 10px" sm="5" ></b-form-input>
                <b-button v-b-modal.color-picker variant="outline-dark" size="sm" style="white-space: nowrap; line-height: 14px; height: 38px">Выбрать цвет</b-button>
            </div>
            
            <colour-picker @changeColorBg="changeColorBg"/>
            <b-button type="submit" variant="light" @click="save()">Добавить</b-button>
            <b-button type="reset" variant="light" >Отмена</b-button>
        </div>
    </b-modal>
</template>
<script>
import ColorComponent from "./color/colorComponent";
export default {
    components: {
        'colour-picker': ColorComponent
    },

    data(){
        return{
            show: false,
            newColor: {
                color: ''
            },
            colour: '#000000'
        }
    },
    methods: {
        changeColorBg(data){
            console.log(data)
            this.newColor.color = data;
        },
        save(){
            
            this.$emit('addColor', this.newColor)
            this.newColor.color = ''
            this.show = false
        }
    },
    watch: {
       
        newColor(bef){
            console.log(bef)
        },deep: true
    }
    
}
</script>