<template>
  <b-modal
    v-model="show"
    centered
    hide-header
    hide-footer
    class="add-product"
    name="add-product"
    :height="602"
    :width="1200"
    id="add-product"
    dialog-class="add-product__dialog"
    content-class="add-product__content"
    body-class="add-product__body"
  >
    <div class="confirm">
      <div class="confirm__wrapper">
        <h5>Добавить новый продукт</h5>
        <b-container fluid>
          <b-row class="my-1">
            <b-col sm="2">
              <label for="input-default">Введите название:</label>
            </b-col>
            <b-col sm="10">
              <b-form-input
                id="input-default"
                placeholder="Введите название"
                v-model="plant.title"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row class="my-1">
            <b-col sm="2">
              <label for="input-default">Введите артикул:</label>
            </b-col>
            <b-col sm="10">
              <b-form-input
                id="input-default"
                placeholder="Введите артикул"
                v-model="plant.articul"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row class="my-1">
            <b-col sm="2">
              <label for="input-default">Введите цену:</label>
            </b-col>
            <b-col sm="10">
              <b-form-input
                id="input-default"
                placeholder="Укажите цену"
                v-model="plant.price"
                min="1"
                type="number"
                step="any"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row class="my-1">
            <b-col sm="2">
              <label for="input-default">Выберите размер:</label>
            </b-col>
            <b-col sm="10">
              <b-form-select
                v-model="plant.size_id"
                :options="optionSizes"
              ></b-form-select>
            </b-col>
          </b-row>
          <b-row class="my-1">
            <b-col sm="2">
              <label for="input-default">Выберите цвет:</label>
            </b-col>
            <b-col sm="10">
              <b-form-select
                v-model="plant.color_id"
                :options="optionColors"
              ></b-form-select>
            </b-col>
          </b-row>
          <b-row class="my-1">
            <b-col sm="2">
              <label for="input-default">Выберите категорию:</label>
            </b-col>
            <b-col sm="10">
              <b-form-select
                v-model="plant.category_id"
                :options="optionCategory"
              ></b-form-select>
            </b-col>
          </b-row>
          <b-row class="my-1">
            <b-col sm="2">
              <label for="input-default">Добавьте описание:</label>
            </b-col>
            <b-col sm="10">
              <b-form-input
                id="input-default"
                placeholder="Добавить.."
                v-model="plant.description"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row class="my-1">
            <b-col sm="2">
              <label for="input-default">Добавьте количество:</label>
            </b-col>
            <b-col sm="10">
              <b-form-input
                id="input-default"
                placeholder="Добавить.."
                v-model="plant.count"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row class="my-1">
            <b-col sm="2">
              <label for="input-default">Добавьте фото:</label>
            </b-col>
            <b-col sm="10">
              <b-form-file
                v-model="plant.image"
                class="mt-3"
                plain
                v-on:change="onFotoChange"
              ></b-form-file>
              <b-row sm="10">
                <div v-for="image in files" :key="image" class="active__image">
                  <img
                    v-bind:src="image"
                    alt="image"
                    height="100"
                    width="auto"
                  />
                </div>
              </b-row>
            </b-col>
          </b-row>
          <b-row b-col="10" class="my-1" align-h="center">
            <b-button href="#" style="margin-right: 25px" @click="save"
              >Сохранить</b-button
            >
            <b-button @click="cancel">Отменить</b-button>
          </b-row>
        </b-container>
      </div>
    </div>
  </b-modal>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  props: {
    colors: { type: Array },
    sizes: { type: Array },
    category: { type: Array }
  },
  data() {
    return {
      show: false,
      upload: false,
      files: [],
      nameFile: '',
      optionSizes: [],
      selectedSizes: null,
      optionColors: [],
      selectedColors: null,
      optionCategory: [],
      selectedCategory: null,
      plant: {
        title: "",
        price: null,
        articul: null,
        size_id: null,
        color_id: null,
        category_id: null,
        description: "",
        count: null,
        image: ""
      }
    };
  },
  mounted() {
    console.log(this.colors);
    this.colors.map((el, index) => {
      this.optionColors.push({
        value: index + 1,
        text: el.color
      });
    });

    this.sizes.map((el, index) => {
      this.optionSizes.push({
        value: index + 1,
        text: el.size
      });
    });

    this.category.map((el, index) => {
      this.optionCategory.push({
        value: index + 1,
        text: el.category
      });
    });
  },
  computed: {
    ...mapGetters({
      sizes: "dev/sizes/items",
      colors: "dev/colors/items",
      category: "dev/categories/items"
    })
  },
  methods: {
    save() {
      console.log(this.plant);

      let newPlant = {
        title: this.plant.title,
        price: this.plant.price,
        articul: this.plant.articul,
        size_id: this.plant.size_id,
        color_id: this.plant.color_id,
        category_id: this.plant.category_id,
        description: this.plant.description,
        count: this.plant.count,
        image: this.fileName
      };
      this.$emit("saveNewPlant", newPlant);
      this.show = false;
      this.plant= {
        title: "",
        price: null,
        articul: null,
        size_id: null,
        color_id: null,
        category_id: null,
        description: "",
        count: null,
        image: ""
      }
    },
    onFotoChange(e) {
        this.files = []
      let files = e.target.files || e.dataTransfer.files;
      if (!files.length) return;

      this.upload = true;

      this.createPhoto(files[0]);
    },
    createPhoto(file) {
      let t = this;

      let reader = new FileReader();

      reader.onload = e => {
        t.files.push(e.target.result);
        t.$refs.foto.value = "";
        t.upload = false;
      };

      reader.readAsDataURL(file);
      this.fileName = file.name;
    
    }
  },
  watch: {
    plant: {
      handler(bef) {
        console.log(bef);
      },
      deep: true
    }
  }
};
</script>
>
