<template>
    <b-modal
    v-model="show"
    centered
    hide-header
    hide-footer
    class="add-size"
    name="add-size"
    :height="602"
    :width="1200"
    id="add-size"
    dialog-class="add-size__dialog"
    content-class="add-size__content"
    body-class="add-size__body"
  >
    <h6>Добавить размер: </h6>
        <div v-if="show">
            <b-form-input v-model="newSize.size" placeholder="Введите размер" style="margin-bottom: 15px"></b-form-input>
            <b-button type="submit" variant="light" @click="save()">Добавить</b-button>
            <b-button type="reset" variant="light" >Отмена</b-button>
        </div>
    </b-modal>
</template>
<script>
export default {
    data(){
        return{
            show: false,
            newSize: {
                size: ''
            }
        }
    },
    methods: {
        save(){
            
            this.$emit('addSize', this.newSize)
            this.newSize.size = ''
            this.show = false
        }
    },
    watch: {
       
        newSize(bef){
            console.log(bef)
        },deep: true
    }
    
}
</script>