<template>
    <div class="editor">
                <div class="editor__wrapper">
                    <div class="editor-goods">
                        <div class="editor-goods__wrapper">
                            <div class="editor-goods__title">
                                <div class="title-left">
                                    <div class="title"><p>Все товары</p></div>
                                  
                                </div>
                                <div class="title-right">
                                    <button class="remove-products" v-b-modal.add-product>Добавить новый товар</button>
                                    <add-product
                                    :colors="colors"
                                    :sizes="sizes"
                                    :category="category"
                                    @saveNewPlant="saveNewPlant"
                                    ></add-product>
                                </div>
                            </div>
                            <template>
                                <div style="display: flex" class="filter">
                               
                                <b-form-group id="input-group-2" label="Поиск по названию:" label-for="input-2">
                                    <b-form-input
                                        id="input-2"
                                        required
                                        placeholder="Введите название"
                                        v-model="searchTitle"
                                        ></b-form-input>
                                </b-form-group>
                                <b-form-group id="input-group-2" label="Поиск по артиклу:" label-for="input-2">
                                    <b-form-input
                                        id="input-2"
                                        
                                        required
                                        placeholder="Введите артикул"
                                        ></b-form-input>
                                </b-form-group>
                                <b-form-group id="input-group-2" label="Поиск по категории:" label-for="input-2">
                                    <b-form-input
                                        id="input-2"
                                        
                                        required
                                        placeholder="Выберите категорию"
                                        ></b-form-input>
                                </b-form-group>
                
                                </div>
                            </template>
                            <div class="editor-goods__content" :style="{display: isExist ? '': 'none'}">
                                <ul class="editor-goods__list">
                                    <product class="editor-goods__item"
                                    v-for="(plant, index) in items"
                                    :key="`plant-${index}`"
                                   
                                    v-model="items[index]"
                                    :plantOne="plant"
                                    :optionsCategories="optionsCategories"
                                    @deleteProduct="deleteProduct"
                                    @saveChanges="saveChanges"
                                    > 
                                    </product>
                                </ul>
                            </div>
                            <div class="editor-goods__content" :style="{display: !isExist ? '': 'none'}">
                                По вашему запросу ничего не найдено!
                            </div>
                        </div>
                    </div>
                    <div class="pagination-bottom__wrapper">
                        <div class="pagination-bottom__content">
                            <p>Отображать по </p>
                            <input type="number" :value="displayCountReports" @input="persist">
                        </div>
                        <b-pagination
                            v-model="currentPage"
                            :total-rows="rows"
                            :per-page="perPage"
                            aria-controls=""
                            first-number
                            last-number
                        ></b-pagination>

                    
                    </div>
                </div>        
            </div>
</template>
<script>
import { mapGetters } from "vuex";
export default {
    async fetch({ store }) {
      await store.dispatch("dev/plants/getPlants", [s]);
      await store.dispatch("dev/sizes/getSize", []);
      await store.dispatch("dev/colors/getColor", []);
      await store.dispatch("dev/categories/getCategory", []);
    },
    data(){
        return{
            items: [],
            selectedCategory: null,
            optionsCategories: [],
            optionsColors: [],
            filters: {
                title: '', 
                limit: null, 
                offset: 0,
                all_plants: true
            },
            searchTitle: '', 
            isExist: Boolean,
            editPlant: {},
            rows: 40,
            perPage: 15,
            currentPage: 1,
            displayCountReports: 6
        }
    },
    mounted() {
        if (localStorage.displayCountReports) this.filters.limit = localStorage.displayCountReports
        this.getPlants()
        this.items= JSON.parse(JSON.stringify(this.plants))
        console.log(this.plants)
        this.isExist =  this.items.length ? true : false
        let tempCat = JSON.parse(JSON.stringify(this.category))
      
        tempCat.map((el, index) => {
            this.optionsCategories.push({
                value: index + 1,
                text: el.category
            })
        })
        if (localStorage.displayCountReports) {
            this.displayCountReports = localStorage.displayCountReports;
        } else {
            this.displayCountReports = 6;
            this.displayCount(this.displayCountReports)
        }
      
        this.perPage = this.displayCountReports
        this.rows = this.count;
        
    },
    computed: {
      ...mapGetters({
        plants: "dev/plants/items",
        count: "dev/plants/count",
        sizes: "dev/sizes/items",
        sizesById: "dev/sizes/byId",
        colors: "dev/colors/items",
        colorsById: "dev/colors/byId",
        category: "dev/categories/items",
        categoryById: "dev/categories/byId",
      })
    },
    methods: {
        setSearchTitle(index){
            console.log(index)
        },
        getPlants(){
            try {
                
                this.$store.dispatch("dev/plants/getPlants", this.filters);
            
            } catch (error) {
                console.log(error);
            }  
            
        },
        deleteProduct(index){
            console.log(index)
            this.$store.commit("dev/plants/REMOVE_ITEM", index);   
        },
        saveChanges(data){
            console.log(data)
           
            this.$store.commit("dev/plants/EDIT_ITEM", data);       
        },
        saveNewPlant(data){
            
            this.$store.commit("dev/plants/CREATE_ITEM", data);       
        },
        persist(){
            if (event.target.value > 0 ) {
                console.log(event.target.value)
                localStorage.setItem('displayCountReports', event.target.value) 
                this.displayCountReports = localStorage.getItem('displayCountReports')
                this.displayCount(this.displayCountReports)
             
            }
        },
        displayCount(data){
            console.log(data)
            this.filters.limit = data ? Number.parseInt( data ) : count; 
            this.getPlants();
        },
        
    },
    watch: {
        items: {
            handler(bef){
                //console.log(bef)
            },deep:true
        },
        plants: {
            handler(bef){
                console.log(bef)
                this.items= JSON.parse(JSON.stringify(this.plants))
                this.isExist =  this.items.length ? true : false
               
            }, deep:true
        },
        sizes: {
            handler(bef){
            
            },deep:true
        },
        colors: {
            handler(bef){
            
            },deep:true
        },
        category: {
            handler(bef){
            
            this.category.map((el, index) => {
                this.optionsCategories.push({
                    value: index,
                    text: el.category
                })
            })
            console.log(this.optionsCategories)
            },deep:true 
        },
        searchTitle: {
            handler(bef){
               
                this.filters.title = bef;
                this.getPlants();
            }
        },
        count: {
            handler(bef){
                if (localStorage.getItem('displayCountReports')) 
                this.filters.limit =  localStorage.getItem('displayCountReports')
                this.rows = this.count;
            },
            deep: true
        },
        filters: {
            handler (newFilter) {
                this.getPlants()
               
            },
            deep: true
        },
        
    }
    
}
</script>