<template>
    <b-modal
        v-model="show"
        centered
        hide-header
        hide-footer
        class="edit-plant"
        dialog-class="edit-plant__dialog"
        content-class="edit-plant__content"
        body-class="edit-plant__body"
        :id="`edit-plant-`+plantOne.id"
        width="auto"
        >
        <div class="product-edit">
            <div class="product-edit__wrapper">
                <div class="product-edit__title">
                    <div class="title ">
                        <div class="name">
                            {{plantOne ? plantOne.title : ''}}
                        </div>

                    </div>
                    <div class="column__selected">
                        <div>Цвет: </div>
                        <div>Размер: </div>
                    </div>
                        
                </div>
                <div class="product-edit__top">
                   
                    <div class="product-edit__size column">
                        <div class="column__name">
                            <p>Выберите размер</p>
                        </div>
                        <div class="column__content">
                            <b-form-select 
                                aria-placeholder="Выберите размер"
                                :options="optionSizes"
                                v-model="filters.size"
                            ></b-form-select>
                            <!--<b-form-input v-model="sizesById(plant.size_id).size"></b-form-input>  -->
                        </div>
                    </div>
                        
                    <div class="product-edit__color column">
                        <div class="column__name">
                            <p>Выберите цвет</p>
                        </div>
                        <div class="column__content">
                            <b-form-select 
                                aria-placeholder="Выберите цвет"
                                v-model="filters.color"
                                :options="optionColors"
                            ></b-form-select>
                            <!--<div class="circle-background" :style="`background:` + colorsById(plant.color_id).color"></div>-->
                        </div>
                    </div>
                    <div class="product-edit__amount column">
                        <div class="column__name">
                            <p>Кол-во позиций</p>
                        </div>
                        <div class="column__content">
                            <div class="change-amount">
                                <div class="change-amount__item">
                                    <input type="number" 
                                        @input='changeCount' 
                                        :placeholder="countPosition" 
                                        v-model="setCountPos"
                                        :disabled='filters.size==null || filters.color==null  || countPosition === 0'
                                        >
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="product-edit__center">
                    <div class="product-edit__center__wrapper">
                        <div class="center-access">
                            <div class="center-access__title">{{filters.color !== null ? 'Выбранный цвет': 'Доступные цвета'}}</div>
                            <div class="center-access__list">
                                <div 
                                    class="center-access__list__item"
                                    v-for="color in accessedColors"
                                    :key="color"
                                >
                                
                                    <div class="circle_wrapper" :style="{background: color.text, height: '20px', width: '20px', borderRadius: 50+'%'}"></div>
                                </div>
                              
                            </div>
                        </div>
                        <div class="center-access">
                            <div class="center-access__title">{{filters.size !== null ? 'Выбранный размер': 'Доступные размеры'}}</div>
                            <div class="center-access__list">
                                <div 
                                    class="center-access__list__item"
                                    v-for="size in accessedSizes"
                                    :key="size"
                                >
                                {{size.text}}
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="result_request">
                        {{filters.size && filters.color ? this.countPosition && filters.size && filters.color ? 'В наличии' :  'Нет в наличии' : ''}}
                    </div>
                </div>
                <div class="product-edit__bottom">
                    <div class="info-content__buttons">
                        <div class="buttons__wrapper">
                            <b-button 
                                class="button" 
                                :disabled='
                                    this.countPosition > 0 && 
                                    (filters.size !== null && filters.color !== null)|| 
                                    filters.size !== null || 
                                    filters.color !== null'
                                v-b-modal.add-pos
                            >
                                Добавить Позицию
                            </b-button>
                            <no-ssr>
                                <add-pos 
                                    :selectedSize="filters.size" 
                                    :selectedColor="filters.color"
                                    :plantId="plantOne.id" 
                                    :plantCategory="plantOne.category">
                                </add-pos>
                            </no-ssr>
                            <b-button
                                v-b-modal.add-pos-col
                                class="button" 
                                :disabled='(this.countPosition && filters.size && filters.color || 
                                filters.color !== null || filters.size == null)'
                                
                            >
                                Добавить цвет
                            </b-button>
                            <add-pos-col 
                                :selectedSize="filters.size" 
                                :plantId="plantOne.id" 
                                :plantCategory="plantOne.category">
                            </add-pos-col>
                            <b-button class="button" 
                                :disabled='(this.countPosition && filters.size && filters.color || 
                                filters.size !== null || 
                                filters.color == null)'
                                v-b-modal.add-pos-size
                            >
                                Добавить размер
                            </b-button>
                            <no-ssr>
                            <add-pos-size :selectedColor="filters.color" :plantId="plantOne.id" :plantCategory="plantOne.category"></add-pos-size></no-ssr>
                            <!--<b-button class="button">Удалить все позиции данного товара</b-button>-->
                                
                        </div>
                    </div>
                </div>
            </div>
            
        </div>  
    </b-modal>
</template>

<script>
import axios from 'axios';
import { mapGetters } from "vuex";
import AddPosColor from './edit/AddPosColor'
import AddPosSize from './edit/AddPosSize'
import AddPos from './edit/AddPos'
export default {
    components: {
        'add-pos-col': AddPosColor,
        'add-pos-size': AddPosSize,
        'add-pos': AddPos
    },
    props: {
        plantOne: { type: Object },
        
    },

    data(){
        return{
            show: false, 
            filters: {
                size: null,
                color: null
            },
            optionColors: [{
                value: null,
                identif_nimber: null,
                text: '...'
            }],
            optionSizes: [
                {
                value: null,
                identif_nimber: null,
                text: '...'
            }
            ],
            accessedColors: [],
            accessedSizes: [],
            countPosition: null,
            setCountPos: null,
            idUpdatePlant: null
        }
    },
    mounted(){
        console.log(this.plantOne)
        this.plant = JSON.parse(JSON.stringify(this.plantOne))
 
        this.countPosition = this.plant.count
        this.setCountPos = this.plant.count
        if (this.plantOne.colors) this.plantOne.colors.map((el, index) => {
            this.optionColors.push({
                value: el,
                identif_nimber: el.id,
                text: this.colorsById(el).color
            });
        });
         if (this.plantOne.sizes) this.plantOne.sizes.map((el, index) => {
            this.optionSizes.push({
                value: el,
                identif_nimber: el.id,
                text: this.sizesById(el).size
            });
        });
        //this.setCountPos = this.plant.count
        //this.countPosition = this.plant.count;
    },
    computed: {
      ...mapGetters({
        plants: "dev/plants/items",
        sizes: "dev/sizes/items",
        sizesById: "dev/sizes/byId",
        colors: "dev/colors/items",
        colorsById: "dev/colors/byId",
        category: "dev/categories/items",
        categoryById: "dev/categories/byId",
      })
    },
    methods: {
        close() {
            this.show = false
        }, 
        getAllPosition(){
            axios.get('http://127.0.0.1:8000/api/plants-info', {
                params: {
                    plant_id: this.plant.id,
                    size_id: this.filters.size,
                    color_id: this.filters.color,
                }
            }).then(res => {
            this.accessedColors = []
            this.accessedSizes = []
                res.data[0].colors.map((el, index) => {
                    this.accessedColors.push({
                        value: el,
                        identif_nimber: el.id,
                        text: this.colorsById(parseInt(el)).color
                    });
                });
                res.data[0].sizes.map((el, index) => {
                    this.accessedSizes.push({
                        value: el ,
                        identif_nimber: el.id,
                        text: this.sizesById(parseInt(el)).size
                    });
                });
                this.countPosition = res.data[0].count;
                this.setCountPos = res.data[0].count
            }).catch(err=>console.log(err))
        },
        changeCount(data){
            
            if (this.filters.size !== null && this.filters.color !== null) { 
                if (this.countPosition > 0 && this.setCountPos > 0){
                    //Если при переключении позиций, в таблице есть запись с нужными данными, просто меняем count
                    console.log(this.plant)
                    if (this.selectedSize !== null && this.selectedSize !== null && this.plantId !== null )

                    axios.get('http://127.0.0.1:8000/api/plants-info', {
                        params: {
                            plant_id: this.plant.id,
                            size_id: this.filters.size,
                            color_id: this.filters.color,
                        }
                    }).then(res => {
                        this.idUpdatePlant = res.data[0].id_field
                        axios.put(`http://127.0.0.1:8000/api/plants-info/${res.data[0].id_field}?plant_id=${this.plant.id}&size_id=${this.filters.size}&color_id=${this.filters.color}&category_id=${this.plant.category}&count=${this.setCountPos}`, {})
                        .then(res=> console.log(res.data)).catch(err=> console.log(err))
                        
                    }).catch()
                    setTimeout(()=>console.log(this.idUpdatePlant),100)
                    
                } else {
                    //Если такий позиций нет, то создаем новую запись 
                    console.log(this.plant)
                    axios.post(`http://127.0.0.1:8000/api/plants-info?plant_id=${this.plant.id}&size_id=${this.filters.size}&color_id=${this.filters.color}&category_id=${this.plant.category}&count=1`, {
                    }).then(res=>  console.log(res.data))
                }
                console.log(this.setCountPos)
         
            }
            if (this.setCountPos == 0 ){
                //Удалить позицию из таблицы plant_info
                console.log(this.plant)
            }
        }
        
    },
    watch: {
        plantOne: {
            handler(bef){
                this.plant = bef
                console.log(bef)
            },deep:true
        },
        filters: {
            handler(bef){
                this.getAllPosition()
            },deep:true
            
        }
    }
}
</script>