<template>
    <div>
        <div class="item__photo">
            <div class="wrapper">
                <img v-bind:src="'/img/' + plant.image"  alt="" width="100" heoght="100">
              
            </div>
        </div>
        <div class="info-content">
            <div class="info-content__wrapper">
                <div class="product">
                    <div class="product__title column">
                        <div class="column__name">
                            <b-form-input v-model="plant.title"></b-form-input>
                            
                        </div>
                        <div class="column__content">
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"  v-model="plant.description" placeholder="Добавьте описание!"></textarea>

                        </div>
                    </div>
                    <!--<div class="product__size column">
                        <div class="column__name">
                            <p>Размер</p>
                        </div>
                        <div class="column__content">
                            <b-form-select 
                                aria-placeholder="Выберите размер"
                                :options="optionSizes"
                                v-model="selectedSizes"
                            ></b-form-select>
                            <b-form-input v-model="sizesById(plant.size_id).size"></b-form-input>  
                        </div>
                    </div>-->
                        <div class="product__category column">
                        <div class="column__name">
                            <p>Категория</p>
                        </div>
                        <div class="column__content">
                            <div>
                                <div >{{ categoryById(plant.category)? categoryById(plant.category).category  : '' }}</div>
                                <b-form-select 
                                    aria-placeholder="Сменить категорию"
                                    v-model="plant.category" 
                                    :options="optionsCategories"
                                ></b-form-select>
                            </div>   
                        </div>
                    </div>
                    <!--<div class="product__color column">
                        <div class="column__name">
                            <p>Цвет</p>
                        </div>
                        <div class="column__content">
                            <b-form-select 
                                aria-placeholder="Выберите цвет"
                                v-model="selectedColors"
                                :options="optionColors"
                            ></b-form-select>
                            <div class="circle-background" :style="`background:` + colorsById(plant.color_id).color"></div>
                        </div>
                    </div>-->
                    <div class="product__amount column">
                        <div class="column__name">
                            <p>Кол-во</p>
                        </div>
                        <div class="column__content">
                            <div class="change-amount">
                        
                                <div class="change-amount__item">
                                   {{plant.count}}
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="product__summary column">
                        <div class="column__wrapper">
                            <div class="column__name">
                                <p>Цена</p>
                            </div>
                            <div class="column__content">
                                <b-form-input v-model="plant.price">Р</b-form-input>  
                            </div>                                         
                        </div>
                    </div>
                    
                </div>  
            </div>
            <div class="info-content__buttons">
                <div class="buttons__wrapper">
                    <div class="button" @click="saveChanges(plant)">Сохранить изменения</div>
                    <div class="button" @click="deleteProduct(plant.articul)">Удалить товар из каталога</div>
                    <div class="button"  v-b-modal="modalId(plant.id)">Редактировать товар</div>
                    <!--<div class="button" @click="saveChanges(plant.articul)">Сохранить изменения</div>-->
                    <!--<div class="button" @click="addSameePlant(plant.articul)">Добавить растение</div>-->
                    
                </div>
            </div>
            
        </div>
        <edit-plant :id="plant.id" :plantOne="plant"/>
    </div>
</template>
<script>
import Axios from 'axios';
import { mapGetters } from "vuex";
export default {
    props: {
        plantOne: { type: Object },
        optionsCategories: {type: Array }, 
    },
    data() {
        return {
            plant: JSON.parse(JSON.stringify(this.plantOne)) || {
                title: '',
                description: '',
                price: null,
                size_id: null,
                color_id: null,
                category_id: null, 
                image: '',
            },
            filters: {
                size: null,
                color: null
            },
            selectedColors: null,
            selectedSizes: null,
           
        
        };
    },
    mounted() {
        this.plant = JSON.parse(JSON.stringify(this.plantOne))
        
    },
    computed: {
      ...mapGetters({
        plants: "dev/plants/items",
        sizes: "dev/sizes/items",
        sizesById: "dev/sizes/byId",
        colors: "dev/colors/items",
        colorsById: "dev/colors/byId",
        category: "dev/categories/items",
        categoryById: "dev/categories/byId",
      })
    },
    updated(){
        var preview = document.querySelector('img');
        var file    = this.plant.image;
        var reader  = new FileReader();
        
        reader.onloadend = function () {
            preview.src = reader.result;
        }

        if (typeof this.plant.image != 'string' ) {
            reader.readAsDataURL(file)
            console.log(reader.readAsDataURL(file))
        } 
    },
    methods: {
        deleteProduct(index){
            this.$emit("deleteProduct",index);
        },
        saveChanges(articul){
            console.log(articul)
            let data ={
                id: this.plant.id,
                title: this.plant.title,
                articul: this.plant.articul,
                description: this.plant.description,
                price: this.plant.price,
                image: this.plant.image,
            }
            this.$emit("saveChanges", data);
        },
        modalId(i) {
            return 'edit-plant-' + i;
        }
    },
    watch: {
        plantOne: {
            handler(bef) {
                console.log(bef)
                if (bef || null) {
                    this.plant = bef;
                   
                }   
            },
            deep: true
        },
        plant: {
            handler(bef){
                Axios.put(`http://127.0.0.1:8000/api/plants-info-category/`+ this.plant.id+`?category_id=${bef.category}`, {}).then(res=> console.log(res)).catch(err=>console.log(err))
            },deep:true
        },
        optionsCategories: {
            handler(bef){
                
            },deep: true
        }
    }
    
}
</script>>