<template>

    <b-modal
        v-model="showAddPosSize"
        centered
        hide-header
        hide-footer
        class="add-pos-col-plant"
        dialog-class="add-pos-col__dialog"
        content-class="add-pos-col__content"
        body-class="add-pos-col__body"
        id="add-pos-col"
        width="auto"
    >
        <div class="add-pos-col">
            <div class="add-pos-col__wrapper">
                <div class="add-pos-col__title">Выбранный размер: {{selectedSize}}</div>
                <div class="add-pos-col__selected">
                    <div class="add-pos-col-access">
                        <div class="add-pos-col-access__title">Доступные цвета</div>
                        <div class="center-access__list">
                            <div 
                                class="center-access__list__item"
                                v-for="color in colors"
                                :key="color"
                            >
                                <div 
                                    class="circle_wrapper" 
                                    :style="{background: color.color, borderRadius: 50+'%'}"
                                    @click="selectColor(color.id)"
                                >
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="add-pos-col__select-color">{{selectedColor !== null ? 'Выбранный размер: ' : ''}} 
                    <div  :style="{background: selectedColor !== null? colorsById(selectedColor).color : ''}" ></div>
                </div>
                <div class="add-pos-col__select-color">{{inStock !== null ? 'Кол-во позиций: ' + inStock: ''}} 
                   
                </div>
                <div class="add-pos-col__buttons">
                    <b-button class="button" :disabled='selectedColor == null' @click="save">Сохранить</b-button>
                    <div class="button" @click="close()">Отмена</div>
                </div>
            </div>
        </div>
    </b-modal>
    
</template>

<script>
import axios from 'axios'
import { mapGetters } from "vuex"

export default {
    props: {
       selectedSize: { type: Object },
       plantId: {type: Number},
       plantCategory: {type: Number}
    },
    data(){
        return { 
            //colors: [],
            selectedColor: null,
            showAddPosSize: false,
            inStock: 0,
            idUpdatePlant: null,
            existField: false
        }
    },
    methods: {
        selectColor(id){
            console.log(id)
            this.selectedColor = id
            console.log(this.selectedSize +' '+ this.selectedColor +' '+this.plantId  )
            if (this.selectedSize !== null && this.selectedSize !== null && this.plantId !== null )
             axios.get('http://127.0.0.1:8000/api/plants-info', {
                params: {
                    plant_id: this.plantId,
                    size_id: this.selectedSize,
                    color_id: this.selectedColor,
                }
            }).then(res => {
                console.log(res.data)
                this.inStock = res.data[0].count
                this.existField = res.data[0].id_field !== null ? true : false
                console.log(this.existField)
                console.log(this.inStock)
                if (this.existField ) this.idUpdatePlant = res.data[0].id_field
            }).catch()
        },
        close() {
            this.selectedColor = null
            this.showAddPosSize = false
        },
        save(){
            console.log(this.plantId + ' '+ this.selectedSize + ' '+ this.selectedColor + ' '+ this.plantCategory + ' '+ parseInt(this.inStock ) )
            if ((this.inStock > 0 && this.selectedSize !== null && 
            this.selectedSize !== null && this.plantId !== null) 
            || (this.existField && this.selectedSize !== null && 
            this.selectedSize !== null && this.plantId !== null
            )) {
                let addCount = parseInt(this.inStock)
                addCount++
                
                console.log(addCount)
                //Добавить к существующему сount + 1
                axios.put(`http://127.0.0.1:8000/api/plants-info/${this.idUpdatePlant}?plant_id=${this.plantId}&size_id=${this.selectedSize}&color_id=${this.selectedColor}&category_id=${this.plantCategory}&count=${addCount}`, {}).then(res=>  console.log(res.data)).catch(err=> console.log(err))
                
            } else {
                //Такой позиции нет, create новую
                axios.post(`http://127.0.0.1:8000/api/plants-info?plant_id=${this.plantId}&size_id=${this.selectedSize}&color_id=${this.selectedColor}&category_id=${this.plantCategory}&count=1`, {
                }).then(res=>  console.log(res.data))
            }
            this.close()
        }
    },
    computed: {
        ...mapGetters({
            colors: "dev/colors/items",
            colorsById: "dev/colors/byId",
        })
    },
    watch: {
        colors: {
            handler(bef){
                console.log(bef)
            }, deep: true
        }
    }
}
</script>