<template>
    <b-modal
        v-model="showAddPosCol"
        centered
        hide-header
        hide-footer
        class="add-pos-size-plant"
        dialog-class="add-pos-size__dialog"
        content-class="add-pos-size__content"
        body-class="add-pos-size__body"
        id="add-pos-size"
        width="auto"
    >
        <div class="add-pos-size">
            <div class="add-pos-size__wrapper">
                <div class="add-pos-size__title">Выбранный цвет: 
                    <div 
                    v-if='selectedColor !== null'
                        class="circle_wrapper" 
                        :style="{background: colorsById(selectedColor).color, borderRadius: 50+'%'}"
                   
                    >
                    </div>
                </div>
                <div class="add-pos-size__selected">
                    <div class="add-pos-size-access">
                        <div class="add-pos-size-access__title">Доступные размеры</div>
                        <div class="center-access__list">
                            <div
                                v-for="size in sizes"
                                :key='size'
                                @click="selectSize(size.id)"
                            >
                                {{size.size}}
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="add-pos-size__select-color">{{selectedSize!== null ? 'Выбранный размер: ' +  sizesById(selectedSize).size : ''}} 
                    
                </div>
                <div class="add-pos-size__select-color">{{inStock !== null ? 'Кол-во позиций: ' + inStock: ''}} 
                   
                </div>
                <div class="add-pos-size__buttons">
                    <b-button class="button" :disabled='selectedSize == null' @click="save">Сохранить</b-button>
                    <div class="button" @click="close()">Отмена</div>
                </div>
            </div>
        </div>
    </b-modal>
    
</template>

<script>
import axios from 'axios'
import { mapGetters } from "vuex"

export default {
    props: {
       selectedColor: { type: Object },
       plantId: {type: Number},
       plantCategory: {type: Number}
    },
    data(){
        return { 
            //colors: [],
            selectedSize: null,
            showAddPosCol: false,
            inStock: 0,
            idUpdatePlant: null,
            existField: false
        }
    },
    methods: {
        selectSize(id){
            console.log(id)
            this.selectedSize= id
            
            if (this.selectedSize !== null && this.selectedSize !== null && this.plantId !== null )
             axios.get('http://127.0.0.1:8000/api/plants-info', {
                params: {
                    plant_id: this.plantId,
                    size_id: this.selectedSize,
                    color_id: this.selectedColor,
                }
            }).then(res => {
                this.existField = res.data[0].id_field !== null ? true : false
                console.log(this.existField)
                console.log( res.data[0].id_field)
                this.inStock = res.data[0].count
                if (this.existField) this.idUpdatePlant = res.data[0].id_field
            }).catch()
        },
        close() {
            this.selectedSize= null
            this.showAddPosCol = false
            
        },
        save(){
            
            if ((this.inStock > 0 && this.selectedSize !== null && 
            this.selectedSize !== null && this.plantId !== null) || 
            (this.existField && this.selectedSize !== null && 
            this.selectedSize !== null && this.plantId !== null
            )){
                let addCount = parseInt(this.inStock)
                addCount++
                //Добавить к существующему сount + 1
                axios.put(`http://127.0.0.1:8000/api/plants-info/${this.idUpdatePlant}?plant_id=${this.plantId}&size_id=${this.selectedSize}&color_id=${this.selectedColor}&category_id=${this.plantCategory}&count=${addCount}`, {}).then(res=>  console.log(res.data)).catch(err=> console.log(err))
                
            } else {
                //Такой позиции нет, create новую
                axios.post(`http://127.0.0.1:8000/api/plants-info?plant_id=${this.plantId}&size_id=${this.selectedSize}&color_id=${this.selectedColor}&category_id=${this.plantCategory}&count=1`, {
                }).then(res=>  console.log(res.data))
            }
            this.close()
        }
    },
    computed: {
        ...mapGetters({
            sizes: "dev/sizes/items",
            sizesById: "dev/sizes/byId",
            colorsById: "dev/colors/byId",
        })
    },
    watch: {
        colors: {
            handler(bef){
                console.log(bef)
            }, deep: true
        }
    }
}
</script>