<template>
    <b-modal
        v-model="showAddPos"
        centered
        hide-header
        hide-footer
        class="add-pos-plant"
        dialog-class="add-pos__dialog"
        content-class="add-pos__content"
        body-class="add-pos__body"
        id="add-pos"
        width="auto"
    >
        <div class="add-pos">
            <div class="add-pos__wrapper">
                <div class="add-pos__title">Выбранный цвет: 
                    <div 
                    v-if='selectedColor !== null'
                        class="circle_wrapper" 
                        :style="{background: colorsById(selectedColor).color, borderRadius: 50+'%'}"
                   
                    >
                    </div>
                </div>
                <div class="add-pos__title">Выбранный размер: 
                   {{selectedSize !== null  ? sizesById(selectedSize).size : ''}}
                </div>
                <div class="add-pos-col-access">
                    <div class="add-pos-col-access__title">Все доступные цвета</div>
                    <div class="center-access__list">
                        <div 
                            class="center-access__list__item"
                            v-for="color in colors"
                            :key="color"
                        >
                            <div 
                                class="circle_wrapper" 
                                :style="{background: color.color, borderRadius: 50+'%'}"
                                @click="selectColor(color.id)"
                            >
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="add-pos__selected">
                    <div class="add-pos-access">
                        <div class="add-pos-access__title">Все доступные размеры</div>
                        <div class="center-access__list">
                            <!--<div
                                class="sizes"
                                v-for="size in sizes"
                                :key='size'
                                @click="selectSize(size.id)"
                            >
                                {{size.size}}
                            </div>      -->
                            <b-form-select 
                                aria-placeholder="Выберите размер"
                                :options="optionSizes"
                                v-model="selectedSize"
                                @change="selectSize"
                            ></b-form-select>              
                        </div>               
                    </div>
                </div>
                    <div class="add-pos-size__select-color">{{inStock !== null ? 'Кол-во позиций: ' + inStock: ''}} 
                </div>
                <div class="add-pos__buttons">
                    <b-button class="button" :disabled='inStock > 0||selectedColor==null||selectedSize==null' @click="save">Сохранить</b-button>
                    <div class="button" @click="close()">Отмена</div>
                </div>
            </div>
        </div>
    </b-modal>
    
</template>

<script>
import axios from 'axios'
import { mapGetters } from "vuex"

export default {
    props: {
       selectedColor: { type: Object },
       selectedSize: { type: Object },
       plantId: {type: Number},
       plantCategory: {type: Number},
       
    },
    data(){
        return { 
            //colors: [],
            //selectedSize: null,
            showAddPos: false,
            idUpdatePlant: null,
            newColor: null,
            newSize: null,
            optionSizes: [],
            itemsSize: [],
            inStock: 0,
            existField: false
        }
    },
    mounted(){
        this.newColor = this.selectedColor
        this.newSize = this.selectedSize
        this.itemsSize = JSON.parse(JSON.stringify(this.sizes))
        this.itemsSize.map((el, index) => {
            this.optionSizes.push({
                value: el.id,
                identif_nimber: el.id,
                text: el.size
            });
        });
        this.getCount()
    },
    methods: {
        getCount(){
            if (this.selectedSize !== null && this.selectedSize !== null && this.plantId !== null )
             axios.get('http://127.0.0.1:8000/api/plants-info', {
                params: {
                    plant_id: this.plantId,
                    size_id: this.selectedSize,
                    color_id: this.selectedColor,
                }
            }).then(res => {
                this.existField = res.data[0].id_field !== null ? true : false
                console.log(this.existField)
                console.log( res.data[0].id_field)
      
                this.inStock = res.data[0].count
                if (this.existField ) this.idUpdatePlant = res.data[0].id_field
            }).catch(err=>console.log(err))
        },
        selectSize(id){
            console.log(id)
            this.selectedSize = id
            this.getCount()
        },
       selectColor(id){
            this.selectedColor = id
            this.getCount()
            
        },
        close() {
            this.selectedSize= null
            this.showAddPos = false
            
        },
        save(){
            
            if ((this.inStock > 0 && this.selectedSize !== null && 
            this.selectedSize !== null && this.plantId !== null) || 
            (this.existField && this.selectedSize !== null && 
            this.selectedSize !== null && this.plantId !== null
            )) {
                let addCount = parseInt(this.inStock)
                addCount++
                //Добавить к существующему сount + 1
                axios.put(`http://127.0.0.1:8000/api/plants-info/${this.idUpdatePlant}?plant_id=${this.plantId}&size_id=${this.selectedSize}&color_id=${this.selectedColor}&category_id=${this.plantCategory}&count=${addCount}`, {}).then(res=>  console.log(res.data)).catch(err=> console.log(err))
                
            } else {
                //Такой позиции нет, create новую
                axios.post(`http://127.0.0.1:8000/api/plants-info?plant_id=${this.plantId}&size_id=${this.selectedSize}&color_id=${this.selectedColor}&category_id=${this.plantCategory}&count=1`, {
                }).then(res=>  console.log(res.data))
            }
            this.close()
        }
    },
    computed: {
        ...mapGetters({
            sizes: "dev/sizes/items",
            colors: 'dev/colors/items',
            sizesById: "dev/sizes/byId",
            colorsById: "dev/colors/byId",
        })
    },
    watch: {
        optionSizes: {
            handler(bef){
                console.log(bef)
            }, deep: true
        },
        selectSize: {
            handler(bef){
                console.log(bef)
                this.newColor = this.selectedColor
                this.newSize = this.selectedSize
                
            }, deep: true
        },
        colors: {
            handler(bef){
                console.log(bef)
                
            }, deep: true
        },
        sizes: {
            handler(bef){
                console.log(bef)
               
            }, deep: true
        },
        showAddPos: {
            handler(bef){
                if ( bef == true )this.getCount()
            }, deep:true
        }

    }
}
</script>