<template>
  <div>
    <form class="block-form" @submit.prevent="login">
      <div class="block-form__title"><p>Войти на сайт</p></div>
      <div class="block-form__inputs">
          <div class="input__item">
              <label for="email" class="input__item__title">Логин</label>
              <input id="email" type="email" v-model="form.email" required autofocus>
          </div>
          <div class="input__item">
              <label for="password" class="input__item__title">Пароль</label>
              <input id="password" type="password" v-model="form.password" required>
          </div>
          
      </div>
      <div class="block-form__button">
          <button type="submit" >Войти</button> 
          <nuxt-link to="/auth/register"><b-button class="button-registr" v-b-modal.register-form>Зарегистрироваться</b-button></nuxt-link> 
      </div>
  </form>
    
  </div>
</template>

<script>
import axios from 'axios'
import Vue from 'vue'
import { BootstrapVue, IconsPlugin } from 'bootstrap-vue'

// Install BootstrapVue
Vue.use(BootstrapVue)
Vue.prototype.$http = axios;

  export default {
    
    midddleware: 'guest',
    data(){
      return {
        form: {
         
          email : "",
          password : "",
        }
      }
    },
    methods : {    
      async login(){
      
  
        await this.$auth.login({data: this.form}).then(res=>console.log(res.data).catch(e=>console.log(e)));
        this.$router.push(this.$route.query.redirect ? this.$route.query.redirect: '/auth/admin')
      
      } 
    }
  }
</script>