<template>
  <b-card>
    <b-form class="form" @submit="save">
      <div>
        <div class="mt-2">ФИО:</div>
        <b-form-input
          v-model="info.fullname"
          placeholder="Введите полное ФИО"
          required
          @input="typing"
          :disabled="!edit"
        ></b-form-input>
      </div>
      <div>
        <div class="mt-2">Номер телефона:</div>
        <b-form-input
          v-model="info.phone"
          placeholder="Введите номер телефона"
          required
          @input="typing"
          :disabled="!edit"
        ></b-form-input>
      </div>

      <div>
        <div class="mt-2">Адрес:</div>
        <b-form-input
          v-model="info.address"
          placeholder="Введите адрес для доставки"
          required
          @input="typing"
          :disabled="!edit"
        ></b-form-input>
      </div>
      <div class="valid" v-if="error">
        Проверьте что все поля заполнены верно!
      </div>
      <div class="button-wrapper">
        <b-button class="button" @click="save" v-if="edit">Сохранить</b-button>
        <b-button class="button" @click="editInfo" v-if="!edit"
          >Редактировать</b-button
        >
        <b-button @click="deleteAddress">Удалить</b-button>
        <div class="response" v-if="response == true">Сохранено</div>
        <div class="response" v-if="response == false">Не сохранено</div>
      </div>
    </b-form>
  </b-card>
</template>
<script>
import axios from "axios";
export default {
  props: {
    info: { type: Object }
  },
  data() {
    return {
      profile_id: null,
      edit: false
    };
  },
  mounted() {
    console.log(this.info);
  },
  methods: {
    save() {
      console.log(this.info);
      if (
        this.info.fullname &&
        this.info.phone &&
        this.info.address &&
        this.info.fullname.length &&
        this.info.phone.length &&
        this.info.address.length
      ) {
        this.error = false;
        let data = {
          address_id: this.info.id,
          address: this.info.address,
          fullname: this.info.fullname,
          phone: this.info.phone
        };
        this.$emit("saveAddress", data);
        this.edit = false;
      } else {
        this.error = true;
      }
    },
    editInfo() {
      this.edit = true;
    },
    deleteAddress() {
      //Проверить нет ли активных заказов со статусом 2,3,4 для этого адреса
      //Обязательно должен быть указан хотя бы 1 адресс
      axios.put(
        `http://127.0.0.1:8000/api/delivery-del/${this.info.id}?del=true`
      );
    }
  }
};
</script>
