<template>
    <div class="applications">
        <div class="applications__wrapper">
            <div class="applications__menu">
                <no-ssr>
                    <div>
                        <div class="applications__head">
                            <h3>Каталог</h3>
                            <div class="applications-block applications-block_performers">
                                <div class="applications-block__header">
                                    <b-form-checkbox
                                        aria-describedby="category"
                                        aria-controls="category"
                                        v-model="allSelectedCategory"
                                        @change="toggleAllCategory"
                                    >Категории</b-form-checkbox>
                                    <button class="applications-block__add" v-if="authenticated" v-b-modal.add-category>+</button>
                                    <add-category @addCategory="addCategory"/>
                                </div>
                                <div class="applications-block__body">
                                    <b-form-group>
                                        <b-form-checkbox-group
                                        v-model="filters.category"
                                        :options="category"
                                        value-field="id"
                                        text-field="category"
                                        name="category"
                                        stacked
                                        ></b-form-checkbox-group>
                                    </b-form-group>
                                </div>
                
                            </div>
                            <div class="applications-block applications-block_performers">
                                <div class="applications-block__header" style="margin-bottom: 10px">
                                Цена
                                </div>
                                
                                <div class="applications-block__body">
                                    <div class="filter-price">
                                        <input v-model.number="min" type="number">
                                        <input v-model.number="max" type="number">
                                        <button @click="filterPrice">Применить</button>
                                    </div>  
                                </div>
                            </div>
                            <div class="applications-block applications-block_performers">
                                <div class="applications-block__header">
                                    <b-form-checkbox
                                        aria-describedby="sizes"
                                        aria-controls="sizes"
                                        v-model="allSelectedSizes"
                                        @change="toggleAllSizes"
                                    >Размеры</b-form-checkbox>
                                    <button  class="applications-block__add" v-if="authenticated" v-b-modal.add-size>+</button> 
                                    <add-size @addSize="addSize"/>
                                </div>
                                <div class="applications-block__body">
                                    <b-form-group>
                                        <b-form-checkbox-group
                                        v-model="filters.sizes"
                                        :options="sizes"
                                        value-field="id"
                                        text-field="size"
                                        name="size"
                                        stacked
                                        ></b-form-checkbox-group>
                                    </b-form-group>
                                </div>
                            </div>
                            <div class="applications-block applications-block_performers">
                                <div class="applications-block__header">
                                    <b-form-checkbox
                                        aria-describedby="colors"
                                        aria-controls="colors"
                                        v-model="allSelectedColors"
                                        @change="toggleAllColors"
                                    >Цвета</b-form-checkbox>
                                    <button  class="applications-block__add" v-if="authenticated" v-b-modal.add-color>+</button>
                                    <add-color  @addColor="addColor"/>
                                    
                                </div>
                                <div class="applications-block__body applications-block__color">
                                    <b-form-group>
                                        <b-form-checkbox-group
                                        v-model="filters.colors"
                                        :options="colors"
                                        value-field="id"
                                        text-field="color"
                                        name="color"
                                        stacked
                                        ></b-form-checkbox-group>
                                        <div class="applications-block__variant" >
                                            <span
                                                v-for="(item, id) in colors"
                                                :key="id"
                                                :style="{background:item.color}"  
                                                :class="{'border-white-blank': item.color == '#FFFFFF'}"  
                                                @click="openModal(item.id)" 
                                                

                                            >                    
                                            </span>
                                        </div>
                                    </b-form-group>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </no-ssr>
            </div>
            <div class="applications__page">
                <no-ssr>
                    <app-catalog
                        :plants="plants"
                        :count="count"
                        @sortPrice="sortPrice"
                        @displayCountReports="displayCountReports"
                        @changeCurrentPage="changeCurrentPage"
                    >
                    </app-catalog>
                </no-ssr>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</template>

<script>
import { mapGetters } from "vuex";
import Catalog from '~/components/shop/Catalog.vue'

export default {
    auth: false,
    components: {
        'app-catalog': Catalog
    },
    async fetch({ store }) {
      await store.dispatch("dev/plants/getPlants", []);
      await store.dispatch("dev/sizes/getSize", []);
      await store.dispatch("dev/colors/getColor", []);
      await store.dispatch("dev/categories/getCategory", []);
    },
    data() {
        return {
            itemCategory: [],
            min: null, 
            max: null,
            allSelectedCategory: false,
            filters: {
                minPrice: null,
                maxPrice: null,
                category: [],
                sizes: [],
                color: [] ,
                sortPrice: '',
                limit: null, 
                offset: 0  ,
                all_plants: false
            },
        }
    },
    mounted(){
        this.getPlants();
    },
    computed: {
      ...mapGetters({
        plants: "dev/plants/items",
        count: "dev/plants/count",
        sizes: "dev/sizes/items",
        sizesById: "dev/sizes/byId",
        colors: "dev/colors/items",
        colorsById: "dev/colors/byId",
        category: "dev/categories/items",
        categoryById: "dev/categories/byId",
      })
    },
    methods: {
        getPlants(){
            console.log(this.filters)
            try {           
                this.$store.dispatch("dev/plants/getPlants", this.filters);
            } catch (error) {
                console.log(error);
            }     
        },
        toggleAllCategory() {

        },
        sortPrice(data){
            console.log(data)
            this.filters.sortPrice = data
        },
        filterPrice(){
            this.filters.minPrice = this.min;
            this.filters.maxPrice = this.max;
        },
        addCategory(data){
            this.$store.commit("dev/categories/CREATE_ITEM", data);       
        },
        addSize(data){
            this.$store.commit("dev/sizes/CREATE_ITEM", data);  
        },
        addColor(data){
            this.$store.commit("dev/colors/CREATE_ITEM", data);  
        },
        displayCountReports(data){
            console.log(data)
            this.filters.limit = data ? Number.parseInt( data ) : count; 
        
            
            this.getPlants();
        },
        changeCurrentPage(data){
            console.log(data)
            let temp = localStorage.getItem('displayCountReports')
            this.filters.offset = (data - 1)*temp
            console.log(this.filters.offset)
            this.getPlants();
        },
        changePagePagination(){
            
            let temp;
            if (localStorage.displayNumApp) {
                temp = localStorage.getItem('displayNumApp')
            } else {
                temp  = this.displayNumApp
            }
            console.log(temp)
            this.filters.offset = (this.currentPage - 1)*temp
            this.getPlants()
            },
        deleteFiltersForReports(){
            this.filters.limit = null
        },
        
    },
    watch: {

        count: {
            handler(){
                if (localStorage.getItem('displayCountReports')) ;
                this.filters.limit =  localStorage.getItem('displayCountReports');
            },
            deep: true
        },
        filters: {
            handler(newFilter) {
                this.getPlants();
                //this.$emit('filter', newFilter);
            },
            deep: true
        },
    }
    
}
</script>>