.catalog
    .catalog-head                
        font-family: 'OpenSans-Light'
        font-size: 12px
        .sort__item
            list-style: none
            .nav-item 
                .nav-link
                    color: #293D35
                    padding-left: 0
                .dropdown-menu 
                    li 
                        .dropdown-item
                            font-size: 13px
    .catalog-body
        
        .product-list
            height: 100%
            width: 100%
            display: flex
            justify-content: flex-start
            flex-wrap: wrap
            &__item 
                width: 33.33%
                height: 320px  
                margin-bottom: 25px
                .info-block
                    height: 100%
                    &__photo
                        width: 94%
                        height: 80%
                        background: rgba(196, 196, 196, 0.23)
                        position: relative
                        display: flex
                        justify-content: center
                        .photo
                            max-height: 100%
                            position: absolute
                            bottom: 0
                    &__description
                        width: 94%
                        height: 50px
                        margin-top: 10px
                        .description 
                            &__top-info 
                                display: flex 
                                justify-content: space-between
                                width: 100% 
                                font-family: 'OpenSans-Semibold'
                                font-size: 12px
                                color: #000000
                                letter-spacing: 0.1px
                                .title 
                                    font-family: 'OpenSans-Semibold'
                                    font-size: 12px
                                    color: #000000
                                    letter-spacing: 0.1px
                                .price
                            &__button-more
                                display: flex 
                                justify-content: space-between
                                .more-info
                                    font-family: 'OpenSans-Light'
                                    font-size: 12px
                                .add-to-basket
                                    margin-top: 10px
                                    width: 35%
                                    height: 25px
                                    background: #43715B
                                    color: #ffffff
                                    font-size: 12px
                                    font-family: 'OpenSans-Regular'
                                    display: flex 
                                    justify-content: center 
                                    align-items: center
                                    &:hover 
                                        cursor: pointer
    .view-more
        margin-top: 20px
        &__button 
            width: 100%
            height: 45px
            border: 1px solid rgba(92, 92, 92, 0.37)
            background: transparent
            box-sizing: border-box
            font-family: 'OpenSans-Light'
            font-size: 12px
            &:hover 
                cursor: pointer
    .pagination-block 
      
        &__content
            display: flex
            justify-content: center
            .pagination 
                display: flex
                justify-content: space-around
                align-items: center
                width: 150px
                
                a 
                    text-decoration: none 
                    color: #293D35
                    font-family: 'OpenSans-SemiBold'
                    font-size: 12px
                    width: 25px
                    height: 25px
                    border-radius: 50%
                    display: flex 
                    align-items: center 
                    justify-content: center
                    transition: 0.3s
                    &:hover 
                        background: #293D35
                        color: #ffffff
                        
                .arrows 
                    display: flex 
                    align-items: center
                    
                    &:hover 
                        cursor: pointer
                        transform: scale(1.05)
                                   