.profile
    width: 100%
    margin-top: 100px
    display: flex 
    justify-content: center
    
    &__wrapper
        
        padding: 10px 60px
        width: 50%
        .form-control 
            margin: 10px 0
            margin-bottom: 10px
        .data-field
            margin: 20px 0
            margin-bottom: 20px
        .valid
            color: red
            height: 30px
            transition: 0.2s linear
        .button-wrapper
            width: 100%
            display: flex 
            align-items: center
            .button
                margin: 10px 0
                margin-right: 15px
            .response
                margin-left: 15px
        .add-new-card
            display: flex 
            justify-content: flex-end 
            width: 100%
            margin-top: 15px
            
    &__title
        padding: 20px 0
