
.applications    
    width: 100%
    height: auto
    padding-top: 93px
    color: #293D35
    &__wrapper 
        display: flex  
    &__head 
        padding: 0px 40px
        width: 80%
        h3
            font-family: 'Cormorant-SemiBold'
            font-size: 30px
            margin-top: 0 !important
            margin-bottom: 30px
        .applications-block  
            margin-bottom: 15px         
         
            &__header
                display: flex
                align-items: center
                justify-content: space-between
               
                font-size: 14px
              
                background: transparent
   
                font-family: 'OpenSans-Semibold'
                font-size: 14px
                font-weight: 600
        
            &__body 
                padding-left: 20px
                font-size: 12px
                position: relative
                .category
                    margin: 0
                    padding: 0
                    &__item 
                        list-style: none
                        margin-bottom: 10px
                        font-family: 'OpenSans-Light'
                        
                        font-weight: 300
                        
                .filter-price 
                    display: flex             
                    input
                        width: 70px
                        height: 25px
                        margin-right: 10px
                    button 
                        border: none 
                        background: #CBE0D3
                .filter-color
                    display: flex
                    justify-content: flex-start
                    padding: 0
                    &__item
                        width: 40px
                        list-style: none
                        .circle-background
                            width: 29px
                            height: 29px
                            border-radius: 50%
            &__add
                font-size: 14px
                border-radius: 0px
                background: #CBE0D3
                color: #ffffff
                width: 16px
                height: 16px
                display: flex
                align-items: center
                justify-content: center
                font-family: 'OpenSans-Semibold'       
                border: none
                border-radius: none
            &__variant
                position: absolute
                top: 5px
                left: 50px
                pointer-events: none
                span
                    pointer-events: all
                    width: 30px
                    height: 17px
                    display: block
                    border-radius: 0
                    opacity: 0.7
                    margin-bottom: 5px
                    &:hover
                        cursor: pointer
                    button 
                        z-index: 1000
                .border-white-blank 
                    border: 0.5px solid gray
            &__color
                .custom-control
                    &-label
                        span 
                            display: none
            .title-price
                font-family: 'OpenSans-Regular'
                font-size: 12px
                margin-bottom: 10px
    .applications__page    
        flex: 1
        padding-right: 40px 
.custom-control
  
    display: flex
    &-input
        box-shadow: none
        &:checked
            &~ .custom-control-label::before
                background: #CBE0D3
                border-radius: 0
                border-color: transparent
            &~ .custom-control-label::after
                border-radius: 0
                background-image: url('/img/check.png')
        &:focus
            &~ .custom-control-label::before
                box-shadow: none
    &-label
        &::before
            border-radius: 0 !important
        &:focus
            border: 1px solid lightgray
        
    &::before
        border: none
        background: #C4C4C4
        border-radius: 0
        left: -34px
        top: 50%
        transform: translateY(-50%)
    &::after
        left: -34px
        top: 50%
        border-radius: 0
        transform: translateY(-50%)
    

