<template>
  <div class="header">
    <div class="header__wrapper">
      <div class="header__left">
        <div
          class="header__mobile-menu"
          @click="isActive=!isActive"
          :class="{ 'active': isActive }"
        >
          <span></span>
          <span></span>
          <span></span>
        </div>
        <nuxt-link class="header__logo" to="/" @click.native="isActive=!isActive">
          <img src='/img/Logo.png' alt  />
        </nuxt-link>
      </div>
      <div class="header__right">
        <nav class="header__menu" :class="{ active: isActive }" >
          
          <ul class="header__items">
            <li  class="header__item" v-if='user.is_admin == "1"'>
              <nuxt-link class="header__link" to="/auth/admin">Редактировать</nuxt-link>
            </li>
            <!--<li class="header__item">
              <nuxt-link class="header__link" @click.native="isActive=!isActive" to="/auth/products/shop">Магазин</nuxt-link>
            </li>-->
            <li class="header__item">
              <nuxt-link class="header__link" @click.native="isActive=!isActive" to="/auth/products/shop">Магазин</nuxt-link>
            </li>
            <li class="header__item" @mouseover="menuHide = true">
             <nuxt-link class="header__link" @click.native="isActive=!isActive" to="/">Доставка и оплата</nuxt-link>
            </li>
            <li class="header__item">
              <nuxt-link class="header__link" @click.native="isActive=!isActive" to="/">Контакты</nuxt-link>
            </li>
            <li class="header__item">
              <nuxt-link class="basket-logo" to="/auth/basket"  @click.native="isActive=!isActive">
                <img src="../assets/img/basket.png" alt="" width="20">
              </nuxt-link>
            </li>
            <template>
              <li class="header__item" v-if="authenticated">
                <!--<nuxt-link class="header__link" @click.native="isActive=!isActive" to="/auth/login"><button>Выйти</button></nuxt-link>-->
                <b-nav-item-dropdown>
                  <template slot="button-content">
                      {{user.name}}
                  </template>
                  <b-dropdown-item v-if="user&&!admin">
                    <nuxt-link class="basket-logo" to="/auth/profile"  @click.native="isActive=!isActive">
                    Профиль
                  </nuxt-link>
                  </b-dropdown-item>
                  <b-dropdown-item @click="signOut" >Выйти</b-dropdown-item>
                </b-nav-item-dropdown>
              </li>
            </template>
            <template>
              <li class="header__item" v-if="!authenticated">
                <nuxt-link class="header__link" @click.native="isActive=!isActive" to="/auth/login"><button>Войти</button></nuxt-link>
                
              </li>
            </template>
            
          </ul>
        </nav>
      </div>
    </div>
 </div>
</template>
<script>
import { mapGetters } from 'vuex'

export default {
  data(){
    return {
      isActive: false
    }   
  },
  computed: {
    ...mapGetters(['isAuthenticated', 'loggedInUser'])
  },
  methods: {
    async logout() {
      await this.$auth.logout()
      this.$router.push('/login')
    },
    signOut(){
      this.$auth.logout();
    }
  }
}
</script>


