<template>
    <div class="catalog">
        <div class="catalog-head">
            <template>
              <li class="sort__item" >
                <!--<nuxt-link class="header__link" @click.native="isActive=!isActive" to="/auth/login"><button>Выйти</button></nuxt-link>-->
                <b-nav-item-dropdown>
                  <template slot="button-content">
                      Сортировать по 
                  </template>
                  <b-dropdown-item @click="increasePrice">По возврастанию цены</b-dropdown-item>
                  <b-dropdown-item @click="decreasePrice">По убыванию цены</b-dropdown-item>
                </b-nav-item-dropdown>
              </li>
            </template>
        </div>
        <div class="catalog-body">
            <div class="product-list">
                <div 
                    class="product-list__item"
                    v-for="(plant, index) in plants"
                    :key="index"
                >
                    <div class="info-block">
                        <div class="info-block__photo">
                            <img :src="'/img/' + plant.image" class="photo" alt="">
                        </div>
                        <div class="info-block__description">
                            <div class="description__top-info">
                                <div class="title">{{plant.title}}</div>
                                <div class="price">{{plant.price}} Р</div>
                            </div>
                            <div class="description__button-more">
                               <div class="more-info" >Подробнее</div>
                               <no-ssr><plant-info :plantOne="plant"/></no-ssr>
                               <div class="add-to-basket" v-b-modal="modalOpen(plant.id)">
                                    В корзину
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
            <div class="pagination-block">
                <!--<div class="pagination-block__content">
                    <div class="pagination">
                        <div class="arrows arrows-left"><img src="/img/arrows-left.svg" alt=""></div>
                        <a href=""><p>1</p></a>
                        <a href=""><p>2</p></a>
                        <a href=""><p>3</p></a>
                        <div class="arrows arrows-right"><img src="/img/arrows-right.svg" alt=""></div>
                    </div>-->
                    <div class="pagination-bottom">
            
                    <div class="pagination-bottom__wrapper">
                        <div class="pagination-bottom__content">
                            <p>Отображать по </p>
                            <input type="number" :value="displayCountReports" @input="persist">
                        </div>
                        <b-pagination
                            v-model="currentPage"
                            :total-rows="rows"
                            :per-page="perPage"
                            aria-controls=""
                            first-number
                            last-number
                        ></b-pagination>

                    
                    </div>
            
          
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import PlantInfo from './PlantInfo.vue'
export default {
    props: {
        plants: {type: [Array, Object]}, 
        count: { type: Number },
    },
    data(){
        return{
            rows: 40,
            perPage: 15,
            currentPage: 1,
            displayCountReports: 6
        }
    },
    mounted(){
        if (localStorage.displayCountReports) {
            this.displayCountReports = localStorage.displayCountReports;
        } else {
            this.displayCountReports = 6;
            this.$emit('displayCountReports', this.displayCountReports)
        }
      
        this.perPage = this.displayCountReports
        this.rows = this.count;
        console.log(this.count)
    },
    methods: {
        increasePrice(){
            this.$emit('sortPrice', 'asc')
        },
        decreasePrice(){
            this.$emit('sortPrice', 'desc')
        },
        persist(){
           
            if (event.target.value > 0 ) {
               
                console.log(event.target.value)
                localStorage.setItem('displayCountReports', event.target.value) 
                this.displayCountReports = localStorage.getItem('displayCountReports')
                this.$emit('displayCountReports', this.displayCountReports)
            } 
        },
        modalOpen(i) {
            return 'plant-info-' + i;
        }
    },
    watch: {
        displayCountReports: {
            handler(bef){
                localStorage.setItem('displayNumApp', bef);
                this.perPage = bef
                console.log(bef)
            },
            deep:true
        },
        currentPage: {
            handler(bef){
                console.log(bef)
                this.$emit('changeCurrentPage', bef)
            },
            deep:true
        },
        count: {
            handler(bef){
                
                this.rows = this.count;
                console.log(this.rows)
            },deep: true
        }
    }
    
}
</script>