<template>
    <b-modal
        v-model="showInfo"
        centered
        hide-header
        hide-footer
        class="plant-info"
        dialog-class="plant-info__dialog"
        content-class="plant-info__content"
        body-class="plant-info__body"
        :id="`plant-info-`+plantOne.id"
        width="auto"
    >
    <div class="plant-info__wrapper">
        <div class="plant-info__wrapper__item">
            <div class="plant-info__photo">
                <img :src="'/img/' + plantOne.image" class="photo" alt="">
            </div>
        </div>
        <div class="plant-info__wrapper__item">
            <div class="plant-info__title"> {{plantOne.title}} </div>     
            <div class="plant-info__articul">арт. {{plantOne.articul}} </div>
            <div class="plant-info__desc"> {{plantOne.description}} </div>
            <div class="plant-info__colors">
                <div class="center-access__list">
                    <div 
                        class="center-access__list__item"
                        v-for="(color,  index) in accessedColors"
                        :key="color"
                    >
                        <div v-if="index > 0" :class="color.value  == selectColor ? 'activeItem wrapper' : 'wrapper'">
                            <div 
                                class="circle_wrapper" 
                                :style="{background: color.text, borderRadius: 50+'%'}"
                                @click="selectedColor(color.value)"
                            >
                            </div>
                        </div>
                        <div v-if="index == 0 " :class="color.value  == selectColor ? 'activeItem wrapper' : 'wrapper'">
                            <div 
                                class="circle_wrapper" 
                                :style="{background: 'lightgray', borderRadius: 50+'%'}"
                                @click="selectedColor(null)"
                            >
                            </div>
                        </div>
                       
                    </div>
                    
                </div>
            </div>
            <div class="plant-info__sizes">
                <div class="center-access__list">
                    <div
                    class="center-access__list__item"
                        v-for="(size, index) in accessedSizes"
                        :key='index'
                        
                    >
                        <span v-if="index > 0" @click="selectedSize(size.value)" :class=" size.value === selectSize ? 'activeItem': ''">{{size.text}}</span>
                        <span v-if="index == 0" @click="selectedSize(null)" :class=" size.value === selectSize ? 'activeItem': ''">Все</span>
                    </div>
                    
                </div>
            </div>
            <div class="plant-info__price">{{plantOne.price}} р</div>
            <div class="add-pos-size__select-color">{{inStock !== null ? 'В наличии': 'Товар закончился'}}</div>
            <div class="plant-info__buttons">
                <b-button 
                    :disabled="selectSize == null || 
                    selectColor == null" 
                    class="button"
                    @click="addToBasket()">Добавить в корзину</b-button>
            </div>
        </div>

    </div>
    </b-modal>
</template>
<script>
import { mapGetters } from "vuex"
import axios from 'axios'

export default {
    props: {
        plantOne: { type: Object },
        
    },
    data(){
        return{
            plant: {},
            showInfo: false,
            selectColor: null,
            selectSize: null,
            accessedColors: [
                {
                    value: null,
                    text: null
                }
            ],
            accessedSizes: [
                {
                    value:null,
                    text: null
                }
            ],
            countPosition: null,
            countToAdd: 1,
            plant_info_id: null

        }
    },
    mounted(){
        this.plant = JSON.parse(JSON.stringify(this.plantOne))
        this.countPosition = this.plantOne.count
   
        this.plant.colors.map((el, index) => {
            this.accessedColors.push({
                value: el,
                text: this.colorsById(el).color
            });
        });
        this.plant.sizes.map((el, index) => {
            this.accessedSizes.push({
                value: el,
                text: this.sizesById(el).size
            });
        });
    },
    methods: {
        selectedColor(id){
            console.log(id)
            this.selectColor = id
            
            this.getAllPosition()
            
        },
        selectedSize(id){
            console.log(id)
            this.selectSize = id
         
             this.getAllPosition()
            
        },
        getAllPosition(){
            console.log(this.selectSize + " " +this.selectColor ) 
            let link = this.selectSize !== null && this.selectColor !== null 
            ? `http://127.0.0.1:8000/api/plants-info?plant_id=${this.plant.id}&size_id=${this.selectSize}&color_id=${this.selectColor}` 
            : this.selectSize !== null && this.selectColor == null  
            ? `http://127.0.0.1:8000/api/plants-info?plant_id=${this.plant.id}&size_id=${this.selectSize}` 
            : this.selectSize == null && this.selectColor !== null  
            ? `http://127.0.0.1:8000/api/plants-info?plant_id=${this.plant.id}&color_id=${this.selectColor}` 
            :`http://127.0.0.1:8000/api/plants-info?plant_id=${this.plant.id}`
            axios.get( link, {}).then(res => {
                this.accessedColors = [{
                    value: null,
                    text: null
                }]
                this.accessedSizes = [{
                    value: null,
                    text: null
                }]
                res.data[0].colors.map((el, index) => {
                    this.accessedColors.push({
                        value: el,
                        text: this.colorsById(parseInt(el)).color
                    });
                });
                res.data[0].sizes.map((el, index) => {
                    this.accessedSizes.push({
                        value: el ,
                        text: this.sizesById(parseInt(el)).size
                    });
                });
                this.inStock = res.data[0].count;
                console.log(res.data[0])
                this.plant_info_id = res.data[0].id_field
                console.log(this.plant_info_id)
            }).catch(err=>console.log(err))
        },
        addToBasket(){
            if (this.selectColor !== null && this.selectSize !== null ){
                axios.post(`http://127.0.0.1:8000/api/add-to-basket?client_id=${this.user.id}&plant_id=${this.plant_info_id}`)
                .then(res=>console.log(res.data))
                .catch(err=>console.log(err))
                this.selectColor = null
                this.selectSize = null
                this.showInfo = false
            }
        }
    },
    computed: {
        ...mapGetters({
            colors: "dev/colors/items",
            colorsById: "dev/colors/byId",
            sizes: "dev/sizes/items",
            sizesById: "dev/sizes/byId",
        })
    },
}
</script>