<template>
  <div class="hello" style='display: flex;justify-content: center;flex-direction: column;'>
  
    <h1 style="margin-top: 30px; font-size: 20px">Админ-панель</h1>
      <div class="admin-panel">
        <b-tabs content-class="mt-3" vertical>
         <b-tab title="Все товары" active>
              <all-product></all-product>
          </b-tab>
          <b-tab title="Добавление товаров" >
            <template>
              <div>
                <b-form  v-if="show" style="width: 100% margin-top: 250px; display: flex; flex-direction:column; align-items: center; ">
                  <b-form-group
                    id="input-group-1"
                    label="Введите артикул:"
                    label-for="input-1"
                    description="We'll never share your email with anyone else." 
                    style="width: 50%"
                  >
                    <b-form-input
                      id="input-1"
                      v-model="form.email"
                      type="email"
                      required
                      placeholder="Введите артикул"
                      
                    ></b-form-input>
                  </b-form-group>

                  <b-form-group id="input-group-2" label="Введите название:" label-for="input-2"
                  style="width: 50%">
                    <b-form-input
                      id="input-2"
                      v-model="form.name"
                      required
                      placeholder="Введите название"
                    ></b-form-input>
                  </b-form-group>

                  <b-form-group id="input-group-3" label="Введите цену:" label-for="input-3" style="width: 50%">
                  <b-form-input
                      id="input-3"
                      v-model="form.name"
                      required
                      placeholder="Введите цену"
                    ></b-form-input>
                    
                  </b-form-group>

                  <b-form-group id="input-group-4" style="width: 50%">
                    <b-form-select
                      id="input-4"
                      v-model="form.food"
                      :options="foods"
                      required
                    ></b-form-select>
                  </b-form-group>

                  <b-form-group id="input-group-5" style="width: 50%">
                    <b-form-select
                      id="input-5"
                      v-model="form.food"
                      :options="foods"
                      required
                    ></b-form-select>
                  </b-form-group>

                  <b-form-group id="input-group-6" style="width: 50%">
                    <b-form-select
                      id="input-6"
                      v-model="form.food"
                      :options="foods"
                      required
                    ></b-form-select>
                  </b-form-group>

                  <b-button type="submit" variant="primary">Submit</b-button>
                  <b-button type="reset" variant="danger">Reset</b-button>
                </b-form>
               
              </div>
            </template>

          </b-tab>
         
          <b-tab title="Заказы"><p>Заказы</p></b-tab>
           <b-tab title="Клиенты"><p>Клиенты</p></b-tab>
           <b-tab title="Статистика"><p>Статистика</p></b-tab>
           <b-tab title="Каталог"><p>Каталог</p></b-tab>
        </b-tabs>
      </div>
    
  </div>
</template>

<script>
import { mapGetters } from "vuex";
  export default {
   middleware: 'auth',
    async fetch({ store }) {
      await store.dispatch("dev/plants/getPlants", []);
      await store.dispatch("dev/sizes/getSize", []);
      await store.dispatch("dev/colors/getColor", []);
      await store.dispatch("dev/categories/getCategory", []);
    },
    data () {
      return {
        show: true,
        form: {
          email: "",
          name: "",
          food: null,
          checked: []
        }
      }
    },
    computed: {
      ...mapGetters({
        plants: "dev/plants/items",
        sizes: "dev/sizes/items",
        sizesById: "dev/sizes/byId",
        colors: "dev/colors/items",
        colorsById: "dev/colors/byId",
        category: "dev/categories/items",
        categoryById: "dev/categories/byId",
      })
    },
    watch: {
      
    }
  }
</script>
