<template>
  <div class="basket">
    <b-tabs content-class="mt-3">
      <b-tab title="Корзина" active>
        <div class="basket__wrapper">
          <div class="basket-goods">
            <div class="basket-goods__wrapper">
              <div class="basket-goods__title">
                <div class="title-left">
                  <div class="title"><p>Корзина</p></div>
                </div>
                <div class="title-right">
                  <button class="remove-products">Очистить корзину</button>
                </div>
              </div>
              <div class="basket-goods__content">
                <ul class="basket-goods__list">
                  <basket-item
                    v-for="(plant, index) in product"
                    :key="`ord-plant-${index}`"
                    :plant="plant"
                    @deleteFromBasket="deleteFromBasket"
                    @changeSum="changeSum"
                    @spliceItem="spliceItem"
                  >
                  </basket-item>
                </ul>
              </div>
            </div>
          </div>

          <basket-total :sum="sum" />
        </div>
      </b-tab>
      <b-tab title="Активные заказы">
        <active-orders />
      </b-tab>
    </b-tabs>
  </div>
</template>

<script>
import axios from "axios";
import BasketProduct from "../../components/basket/BasketProduct";
import ActiveOrders from "../../components/basket/ActiveOrders.vue";
export default {
  components: {
    "basket-item": BasketProduct,
    "active-orders": ActiveOrders
  },
  async fetch({ store }) {
    await store.dispatch("dev/sizes/getSize", []);
    await store.dispatch("dev/colors/getColor", []);
  },
  props: {
    plants: { type: [Array, Object] }
  },
  data() {
    return {
      product: [],
      count: 0,
      sum: 0
    };
  },
  mounted() {
    this.getProduct();
  },

  methods: {
    // getProduct(){
    //     axios.get(`http://127.0.0.1:8000/api/orders?client_id=${this.user.id}&status_id=1`)
    //     .then(result => {
    //         console.log(result.data)
    //         axios.get(`http://127.0.0.1:8000/api/plants-busket?order_id=${result.data[0].id}`)
    //         .then(res => {
    //             //console.log(res.data)
    //             this.count =res.data[res.data.length - 1].count;
    //             res.data.splice(-1,1)

    //             this.product = res.data
    //             console.log(this.sizes)
    //         })
    //     }).catch(error => console.log(error))
    // },
    getProduct() {
      axios
        .get(
          `http://127.0.0.1:8000/api/orders-busket?client_id=${this.user.id}&status_id=1`
        )
        .then(result => {
          console.log(result);
          this.count = result.data[result.data.length - 1].count;
          result.data.splice(-1, 1);
          this.product = result.data;
          this.sum = 0;
          this.product.forEach(element => {
            this.sum += element.count * element.price;
            console.log(element.count);
          });
        })
        .catch(error => console.log(error));
    },
    deleteFromBasket(data) {
      axios("http://127.0.0.1:8000/api/orders-plants" + "/" + data.id, {
        method: "DELETE"
      })
        .then(res => {
          if (this.product) this.product.splice(data.index, 1);
        })
        .catch(err => console.log(err));
    },
    changeSum(data) {
      if (data.action == "minus") {
        this.sum -= data.number;
      } else {
        this.sum += data.number;
      }
    },
    spliceItem(index) {
      this.product.splice(index, -1);
    }
  },
  watch: {
    sizes: {
      handler(bef) {
        console.log(bef);
      },
      deep: true
    },
    count: {
      handler(bef) {
        console.log(bef);
      },
      deep: true
    }
  }
};
</script>
