<template>
  <div class="profile">
    <div class="profile__wrapper">
      <div class="profile__title">
        Адрес доставки
      </div>
      <edit-address
        v-for="info in infos"
        :key="info"
        :info="info"
        @saveAddress="saveAddress"
      />

      <div class="add-new-card">
        <b-button variant="light" @click="addNewAddress"
          >Добавить адрес</b-button
        >
      </div>
    </div>
  </div>
</template>

<script>
import EditAddress from "../../components/profile/EditAddres";
import axios from "axios";

export default {
  components: {
    "edit-address": EditAddress
  },
  data() {
    return {
      infos: [],
      error: false,
      response: null,
      edit: false
    };
  },
  mounted() {
    axios
      .get(`http://127.0.0.1:8000/api/data-delivery?client_id=${this.user.id}`)
      .then(res => {
        //this.profile_id = res.data[0].id;
        res.data.forEach(element => {
          this.infos.push({
            fullname: element.fullName,
            phone: element.phone,
            address: element.address,
            id: element.id
          });
        });

        console.log(this.infos);
      });
  },
  methods: {
    saveAddress(data) {
      console.log(data);

      if (
        data.fullname &&
        data.phone &&
        data.address &&
        data.fullname.length &&
        data.phone.length &&
        data.address.length
      ) {
        this.error = false;
        if (data.address_id !== undefined) {
          axios
            .put(
              `http://127.0.0.1:8000/api/data-delivery/${data.address_id}?address=${data.address}&fullName=${data.fullname}&phone=${data.phone}&client_id=${this.user.id}`
            )
            .then(res => {
              this.response = true;
              setTimeout(() => (this.response = null), 1000);
              this.edit = false;
            })
            .catch(err => {
              this.response = false;
              setTimeout(() => (this.response = null), 1000);
            });
        } else {
          axios
            .post(
              `http://127.0.0.1:8000/api/data-delivery?client_id=${this.user.id}&address=${data.address}&&fullName=${data.fullname}&phone=${data.phone}`
            )
            .then(res => {
              this.edit = false;
            });
        }
      } else {
        this.error = true;
      }
    },
    typing() {
      this.error = false;
    },

    addNewAddress() {
      this.infos.push({
        fullname: "",
        phone: "",
        address: ""
      });
    }
  }
};
</script>
