<template>
  <div >
    <h4 :style="{'margin-top': '150px'}" >Регистрация <img @click="close()" src="/img/close.png" alt=""> </h4>
    <form @submit.prevent="register">
      <label for="name" >Ваше имя</label>
      <div>
        <input id="name" type="text" v-model="form.name" :class="{'is-invalid': errors.name}" required autofocus>
        <div class="invalid-feedback" v-if="errors.name">
          {{errors.name[0]}}
        </div>
      </div>

      <label for="email" >Ваш e-mail</label>
      <div>
        <input id="email" type="email"  v-model="form.email" :class="{'is-invalid': errors.email}" required>
        <div class="invalid-feedback" v-if="errors.email">
          {{errors.email[0]}}
        </div>
      </div>

      <label for="password">Придумайте пароль</label>
      <div>
        <input id="password" type="password" v-model="form.password" :class="{'is-invalid': errors.password}" required>
        <div class="invalid-feedback" v-if="errors.password">
          {{errors.password[0]}}
        </div>
      </div>

      

      <label for="password-confirm">Is this an administrator account?</label>
      <div>
        <template>
  
          <b-form-select v-model="selected" :options="options" style="width: 15%; margin-bottom: 20px"></b-form-select>

          
     
      </template>
      </div>

      <div>
        <button type="submit" @click="register">
          Зарегистрироваться
        </button>
      </div>
    </form>
</div>
</template>

<script>
import axios from 'axios';

export default {

  data(){
    return {
      form: {
        name : "",
        email : "",
        password : "",
        is_admin: '0'
      },
      selected: null,
      options: [
        { value: 1, text: 'Да' },
        { value: 0, text: 'Нет' }
      ]
      
    }
  },
  
  methods : {
    async register(){
     
      await this.$axios.post('/auth/register', this.form).then(response => {
        console.log(response.data.success)
        this.$auth.login({data: this.form})

        
      }).catch(function(err){
        console.log(err.response);  //is what you want
        
      });
      
     
      if (!this.errors) {
       
     
      this.$router.push({name: 'index'})
      }
       
    }
  },
  watch: {
    selected: {
      handler(bef){
        console.log(bef)
        this.form.is_admin = bef
      },
      deep:true
    }
  }
}
</script>