<template>
  <div>
    Hell0
  </div>
</template>
<script>
import axios from "axios";
export default {
  mounted() {
    this.getOrders();
  },
  methods: {
    getOrders() {
      axios
        .get(`http://127.0.0.1:8000/api/orders-busket`, {
          params: {
            client_id: this.user.id,
            statuses_id: [2, 3, 4]
          }
        })
        .then(result => {})
        .catch(err => console.log(err));
    }
  }
};
</script>
