<template>
    <div class="basket-total">
  
        <div class="basket-total__title">Итог</div>
        <div class="basket-total__info">
            <div class="basket-total__info-list">
                <div class="basket-total__info-list__item total-price">
                    <div class="item-left">Общая стоимость</div>
                    <div class="item-right">{{sum.toLocaleString()}} Р</div>
                </div>
                
            </div>
        </div>
        <div  class="basket-total__button">
            <b-button :disabled="sum==0" class="basket-total__button__wrapper" v-b-modal.delivery-form>
                Сделать заказ
            </b-button>
            <delivery-form/>
        </div>
        
    </div>
</template>
<script>
import DeliveryForm from './DeliveryForm'
export default {
    components: {
        'delivery-form': DeliveryForm
    },
    props: {
        sum: {type: Number}
    }
}
</script>