<template>
    <li 
        class="basket-goods__item"
        
    >
        <div class="item__photo">
            <div class="wrapper">
                <img :src="'/img/' + plant.image" alt="">
            </div>
        </div>
        <div class="info-content">
            <div class="info-content__wrapper">
                <div class="product">
                    <div class="product__title column">
                        <div class="column__name">
                            <p>{{plant.title}}</p>
                        </div>
                        <div class="column__content">
                            <p>{{plant.description}}</p>
                        </div>
                    </div>
                    <div class="product__size column">
                        <div class="column__name">
                            <p>Размер</p>
                        </div>
                        <div class="column__content">
                            <p v-if="sizes.length"> {{ sizesById(plant.size).size }}</p>
                        </div>
                    </div>
                    <div class="product__color column">
                        <div class="column__name">
                            <p>Цвет</p>
                        </div>
                        <div class="column__content">
                            <div 
                                class="circle-background" 
                                v-if="colors.length"
                                :style="{background: colorsById(plant.color).color}"
                            ></div>
                        </div>
                    </div>
                    <div class="product__amount column">
                        <div class="column__name">
                            <p>Кол-во</p>
                        </div>
                        <div class="column__content">
                            <div class="change-amount">
                                <div class="change-amount__item change-amount__button" @click="countMin(plant.orders_plants_id, index)">-</div>
                                <div class="change-amount__item"><input type="number" min="0" :disabled="true" :placeholder="plant.count" v-model="count"></div>
                                <div class="change-amount__item change-amount__button" @click="countPlus(plant.orders_plants_id, index)">+</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="summary">
                    <div class="summary__wrapper">
                        <p>{{plant.price}} Р</p>
                    </div>
                </div>
            </div>
            <div class="info-content__buttons">
                <div class="buttons__wrapper">
                    <div class="button" @click="deleteFromBasket(plant.orders_plants_id, index)">Удалить из корзины</div>
                    
                </div>
            </div>
        </div>
    </li>
</template>
<script>
import { mapGetters } from "vuex"
import axios from 'axios'
export default {
    props: {
        plant: {type: Object}
    },
    data(){
        return{
            count: 0
        }
    },
    mounted() {
        this.count = this.plant.count;
    },
    computed: {
        ...mapGetters({
            colors: "dev/colors/items",
            colorsById: "dev/colors/byId",
            sizes: "dev/sizes/items",
            sizesById: "dev/sizes/byId",
        }),
    },
    methods: {
        countMin(id, index){
            if (this.count > 1 ){
                let mincount = this.count - 1
                this.count = mincount
                this.changeCount(id, -1)
            } else {
                //Если 0 то удалить товар из корзины
                axios('http://127.0.0.1:8000/api/orders-plants'+ '/'+ id, {
                    method: "DELETE",
                })
                this.$emit('spliceItem', index)
                
                
            }
            let obj = {
                number: this.plant.price,
                action: 'minus'
            }
            this.$emit('changeSum', obj)
            
        },
        countPlus(id, index){
            let mincount = this.count + 1
            this.count = mincount
            this.changeCount(id, 1)
            let obj = {
                number: this.plant.price,
                action: 'plus'
            }
            this.$emit('changeSum', obj)
        },
        changeCount(id, count){
            console.log(count)
            axios.put(`http://127.0.0.1:8000/api/change-count/${id}?count=${count}`)
            
            
        },
        deleteFromBasket(id, index){
            let obj = {
                id: id,
                index: index
            }
            this.$emit('deleteFromBasket', obj)
        },
    },
    watch: {
        count: {
            handler(bef){
                
            }
        },
        plant: {
            handler(bef){
                this.count = this.plant.count
            },deep: true
        }
    }
}
</script>