<template>
  <b-modal
    v-model="showDeliveryForm"
    centered
    hide-header
    hide-footer
    class="del-form"
    dialog-class="del-form__dialog"
    content-class="del-form__content"
    body-class="del-form__body"
    id="delivery-form"
    width="auto"
  >
    <div class="del-form__wrapper">
      <div class="del-form__title">Данные для доставки</div>
      <div class="del-form__desc">
        Выберите адрес и внинимательно проверьте данные
      </div>
      <div v-if="infos.length > 0">
        <div
          v-for="info in infos"
          :key="info"
          :info="info"
          @click="selectAddressId(info.id)"
        >
          <b-card
            class="select-address"
            :class="{ selected: selectAddress == info.id }"
          >
            <div class="select-address__wrapper">
              <div class="select-address__item">
                <div class="item-title">ФИО:</div>
                <div class="item-content">{{ info.fullname }}</div>
              </div>
              <div class="select-address__item">
                <div class="item-title">Номер телефона:</div>
                <div class="item-content">{{ info.phone }}</div>
              </div>
              <div class="select-address__item">
                <div class="item-title">Адресс:</div>
                <div class="item-content">{{ info.address }}</div>
              </div>
            </div>
          </b-card>
        </div>
      </div>
      <div v-if="infos.length == 0" class="valid-address">
        <p v-if="addInfo.length > 0">Не указано ни одного адреса</p>
        <b-button
          variant="dark"
          @click="addNewAddress"
          v-if="infos.length == 0 && !this.enableAddressForm"
          >Добавить адрес</b-button
        >
      </div>
      <b-form class="form" @submit="save" style="margin-bottom: 25px" v-if="infos.length == 0 && enableAddressForm">
        <div>
          <div class="mt-2">ФИО:</div>
          <b-form-input
            v-model="addInfo.fullname"
            placeholder="Введите полное ФИО"
            required
            @input="typing"

          ></b-form-input>
        </div>
        <div>
          <div class="mt-2">Номер телефона:</div>
          <b-form-input
            v-model="addInfo.phone"
            placeholder="Введите номер телефона"
            required
            @input="typing"
            
          ></b-form-input>
        </div>
        <div>
          <div class="mt-2">Адрес:</div>
          <b-form-input
            v-model="addInfo.address"
            placeholder="Введите адрес для доставки"
            required
            @input="typing"
            
          ></b-form-input>
        </div>
        <div class="valid" v-if="valid">
          Перед подтверждением проверьте, что все поля заполнены верно!
        </div>
        <div class="button-wrapper">
        <b-button class="button" @click="addNewAddressInTable" >Сохранить</b-button>
     
          <div class="response" v-if="response == true">Сохранено</div>
          <div class="response" v-if="response == false">Не сохранено</div>
      </div>
      </b-form>
    </b-card>
      <div class="button-wrapper">
        <b-button class="button" @click="save" :disabled="!selectAddress"
          >Подтвердить заказ</b-button
        >
        <div class="response" v-if="response == true">Сохранено</div>
        <div class="response" v-if="response == false">Не сохранено</div>
      </div>
    </div>
  </b-modal>
</template>
<script>
import axios from "axios";

export default {
  data() {
    return {
      showDeliveryForm: false,
      infos: [],
      error: false,
      enableAddressForm: false,
      response: null,
      profile_id: null,
      selectAddress: null,
      addInfo: {
        fullname: "",
        phone: "",
        address: "",
        id: null
      },
      valid: false,
      enableButton: true
    };
  },
  mounted() {
    axios
      .get(`http://127.0.0.1:8000/api/data-delivery?client_id=${this.user.id}`)
      .then(res => {
        //this.profile_id = res.data[0].id;
        res.data.forEach(element => {
          console.log(
            element.fullName.length +
              " " +
              element.phone.length +
              " " +
              element.address.length +
              " " +
              element.id
          );
          if (
            element.fullName.length &&
            element.phone.length &&
            element.address.length &&
            element.id
          ) {
            this.infos.push({
              fullname: element.fullName,
              phone: element.phone,
              address: element.address,
              id: element.id
            });
          } else {
            this.enableButton = true
          }
        });
      });
  },
  methods: {
    typing() {
      this.error = false;
    },
    save() {
      axios
        .get(
          `http://127.0.0.1:8000/api/orders?client_id=${this.user.id}&status_id=1`
        )
        .then(res => {
          console.log(res.data);
          axios.put(
            `http://127.0.0.1:8000/api/orders/${res.data[0].id}?status_id=2&client_id=${this.user.id}&delivery_id=${this.selectAddress}`
          );
        })
        .catch(err => console.log(err));
    },
    selectAddressId(id) {
      console.log(id);
      this.selectAddress = id;
    },
    addNewAddress() {
      this.addInfo = {
        fullname: "",
        phone: "",
        address: "",
        id: null
      };
      this.enableAddressForm = true
    },
    typing(){
      
    },
    addNewAddressInTable(){
      if (this.addInfo.fullname.length && this.addInfo.phone.length > 10 && this.addInfo.address.length > 5) {
        axios
            .post(
              `http://127.0.0.1:8000/api/data-delivery?client_id=${this.user.id}&address=${this.addInfo.address}&&fullName=${this.addInfo.fullname}&phone=${this.addInfo.phone}`
            )
            .then(res => {
               axios
                .get(`http://127.0.0.1:8000/api/data-delivery?client_id=${this.user.id}`)
                .then(res => {
                  //this.profile_id = res.data[0].id;
                  res.data.forEach(element => {
                    this.infos.push({
                      fullname: element.fullName,
                      phone: element.phone,
                      address: element.address,
                      id: element.id
                    });
                  });
                  this.selectAddress = element.id
                  console.log(this.infos);
                });
            });
        this.enableButton = false
        this.valid = true
      } else {
        this.enableButton = true
        this.valid = false
      }
    }
  }
};
</script>
