<template>
  <div class="main-page">
        <div class="main-page__wrapper">
        
            <div class="main-page__left">
                <div class="main-page__button">
                    <button class="button-catalog">Каталог {{authenticated}}</button>
                </div>
                <div class="main-page__title"><p>HOUSE PLANTS SHOP</p></div>
                <div class="main-page__description"><p>Интернет-магазин зеленых и декоративных <br> комнатных растений, сукулентов и семян <br>с доставкой по всей России</p></div>
            </div>
        </div>
        <div class="independent-block__left"></div>    
        <div class="independent-block__right"><img src="/img/plants-6.png" alt=""></div>
        <div class="second-page__wrapper">
            <div class="second-page__title"><p>Почему мы?</p></div>
            <div class="second-page__content">
            <div class="independent-block__second"><img src="/img/plants-2.png" alt=""></div>
                <div class="second-page__right">
                    <div class="why__wrapper">
                        <ul class="why__list">
                            <li class="why__item"><span>1</span><p>Мы предлагаем нашим клиентам большой ассортиемент растений, суккулентов и их семян</p></li>
                            <li class="why__item"><span>2</span><p>Наши менеджеры всегда готовы проконсльтировать  вас и  помочь с выбором необходимогое растения</p></li>
                            <li class="why__item"><span>3</span><p>Действует система скидок и подарочных сертификатов</p></li>
                        </ul>
                    </div>
                </div>            
            </div>
        </div>
        <div class="thirty-page__wrapper">
            <div class="independent-block__garant-left"></div>
            <div class="thirty-page__title"><p>Гарантии</p></div>
            <div class="thirty-page__content">
                <div class="garant">
                    
                    <div class="independent-block__garant"><img src="/img/plants-5.png" alt=""></div>
                    <div class="garant__left">
                        <p>
                            Мы гарантируем высокое качество наших растений и делаем все возможное, чтобы не<br> только оправдать, но и превзойти ваши ожидания . Но, в случае, если товар был<br> поврежден при перевозке,  
                            вам необходимо связаться с нами в течении 7 дней с момента<br> получения посылки и мы отправим вам товар повторно или вернем деньги!
                        </p>
                    </div>                  
                </div>
                <div class="post">
                    <div class="post__right">
                        <p>
                            Посылки отправляются в день оформления и оплаты товара. Обратите внимание, если <br>
                            оплата была произведена после 17:00, то посылка будет отправлена на следующий день в<br>
                            связи с режимом работы почты. В этот же день мы высылаем вам трек-номер для <br>отслеживания посылки. 
                        </p>
                    </div>
                    <div class="independent-block__post"><img src="/img/plants-3.png" alt=""></div>
                </div>
                <div class="button">
                    <button class="button-catalog">Перейти к каталогу</button>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
    
</template>

<script>
import Footer from '../components/Footer.vue'

export default {
    auth: false,
  components: {
    'app-footer': Footer
  }
}
</script>

<style>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family:
    'Quicksand',
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
