.admin-panel 
    width: 100%
    margin-top: 10px
    .tabs
        .col-auto
            width: 15%
            margin-top: 20px
            .nav 
                .nav-item
                    border-radius: 4px
                    margin-bottom: 2px
                    height: 50px
                    a 
                        color: #293D35
                        font-family: 'OpenSans-Light'
                        font-size: 14px
                        height: 100%
                        border-radius: 4px
                        display: flex 
                        align-items: center
                    &:hover
                        background: #ECF1EF
                    .active 
                        background: #B5D3C1
                        border-radius: 4px
        .tab-content 
            .tab-pane
                .editor
                    margin-top: 0
                    &__wrapper             
                        width: 100% !important
                        padding-right: 25px
                        .editor-goods                         
                            width: 100% !important
                            &__wrapper 
                            &__title 
                                height: 55px
                            .filter 
                                margin-bottom: 20px 
                                .form-group 
                                    width: 25% 
                                    margin-right: 25px
                                    label 
                                        font-family: 'OpenSans-Light'
                                        font-size: 12px
                                    .bv-no-focus-ring 
                                        .form-control 
                                            font-family: 'OpenSans-Light'
                                            font-size: 14px
                                            &:focus
                                                outline: none
                                                border: 2px solid #43715B
                                                box-shadow: 0 0 0 0.2rem #CBE0D3

                            &__content 
                            &__list 
                               
                            &__item 
                                .item__photo
                                    width: 20%
                                .info-content 
                                    width: 80%
                                    width: 80%
                                    &__wrapper 
                                        .product 
                                            .column
                                                &__name 
                                                    height: 25%
                                                    display: flex 
                                                    align-items: center
                                                    p 
                                                        margin: 0
                                                    input 
                                                        border: none
                                                        font-size: 12px
                                                        &:focus
                                                            
                                                            background-color: none !important
                                                            border: none !important
                                                            ouline: none !important
                                                            border-radius: 0 !important
                                                            border-bottom: 2px solid  #43715B !important
                                                            box-shadow: none !important
                                                &__content
                                                    padding-top: 0
                                                    input 
                                                        border: none
                                                        font-size: 12px
                                                        &:focus
                                                            
                                                            background-color: none !important
                                                            border: none !important
                                                            ouline: none !important
                                                            border-radius: 0 !important
                                                            border-bottom: 2px solid  #43715B !important
                                                            box-shadow: none !important
                                            .product__title 
                                                .column__content
                                                    height: 70%
                                                    .form-control 
                                                        height: 100%
                                                        font-size: 12px
                                                        border: none
                                                        max-height: 100px
                                                        &:focus
                                                            background-color: none !important
                                                            border: none !important
                                                            ouline: none !important
                                                            border-radius: 0 !important
                                                            border-bottom: 2px solid  #43715B !important
                                                            box-shadow: none !important
                                                        ::scroll
                                            .product__size 
                                                .column__content
                                                    display: flex 
                                                    justify-content: center 
                                                    .form-control 
                                                        text-align: center
                                                        width: 60%
                                            .product__category 
                                                .column__content
                                                    display: flex
                                                    align-items: flex-start
                                                    justify-content: flex-start
                                                    div 
                                                        width: 100%
                                                        align-items: flex-start
                                                        justify-content: flex-start
                                                        div 
                                                            margin: 5px 0 10px 0
                                                            text-align: center
                                            .product__category 
                                                .column__content
                                                    div
                                                        .custom-select 
                                                            font-size: 12px
                                                            &:focus 
                                                                border: 1px solid #43715B !important
                                                                box-shadow: 0 0 0 0.2rem #CBE0D3
                                            .product__summary
                                                .column__wrapper
                                                    display: flex 
                                                    flex-direction: column 
                                                    align-items: center
                                                    .column__content
                                                        margin-top: 15px 
                                                        width: 60%
                                                        input 
                                                            text-align: center
                                    &__buttons
                                        .buttons__wrapper
                                            .button 
                                                width: 20%
                                                height: 30px
                                                background: #CBE0D3
                                                border-radius: 4px
                                                margin-right: 25px
                                                margin-bottom: 15px
                                                display: flex 
                                                justify-content: center 
                                                align-items: center
option:checked
    
    background: #43715B !important
    color: #ffffff
