.edit-plant
    width: 100% !important
    &__content
        width: 100%
        height: 70%
    &__dialog
        width: 100% !important
        max-width: 50%
        height: 78%
        
    &__body
        width: 100%
        height: 100%
        padding: 15px 45px
        .product-edit
            height: 100%   
            width: 100%                
            display: flex 
            &__wrapper
                display: flex 
                flex-direction: column
                width: 100%
            &__title
                height: 20%
                width: 100%
                display: flex 
                align-items: center        
                .title 
                    width: 30%
                    font-size: 16px
                .name
                    font-family: 'OpenSans-Semibold'
                    justify-content: flex-start
                
                .column__selected 
                    display: flex
                    align-items: center
                    width: 70%
                    div
                        width: 40%  
                        margin-right: 15px 
            &__top
                display: flex
                height: 25%
            &__center
                height: 35%
                &__wrapper
                    .center-access
                        display: flex 
                        flex-direction: column
                        &__title
                            he
                        &__list
                            display: flex
                            height: 25px
                            &__item
                                display: flxe 
                                align-items: center
                                margin-right: 15px
                                
            &__bottom   
                height: 20%
                .info-content__buttons
                    display: flex 
                    width: 100%
                    .buttons__wrapper
                        width: 100%
                        display: flex 
                        .button 
                            width: auto
                            padding: 10px 15px
                            height: 45px
                            background: #CBE0D3
                            border-radius: 4px
                            margin-right: 25px
                            margin-bottom: 15px
                            display: flex 
                            justify-content: center 
                            align-items: center
                            line-height: 16px
                            border: 1px solid transparent 
                            color: #293D35
            .column 
                width: 100%
                font-family: 'OpenSans-Light'
                font-size: 14px
                &__name
                    height: 40%
                    display: flex 
                    justify-content: center
                    align-items: center
                &__content
                    height: 30%
                    width: 90%
                    display: flex 
                    justify-content: center
                    align-items: flex-start 
                    padding-top: 10px
                    p 
                        margin: 0    
               
                                 
            &__size
                width: 20%                               
            &__color
                width: 20%
                .column__content 
                    .circle-background
                        width: 29px
                        height: 29px
                        border-radius: 50%       
            &__amount
                width: 20%
                .change-amount
                    width: 100%
                    display: flex
                    justify-content: center
                    &__item 
                        width: 33%
                        height: 35px
                        display: flex 
                        justify-content: center
                        align-items: center
                        input
                            width: 100%
                            height: 30px
                            text-align: center
                            border: none
                    &__button
                        background: #CBE0D3
                        font-family: 'OpenSans-Semibold'
                        font-size: 20px
                        color: #293D35
                        &:hover 
                            cursor: pointer
                
            .summary
                height: 100%
                width: 20%
                &__wrapper 
                    display: flex 
                    height: 40%
                    justify-content: flex-end 
                    align-items: center
                    padding-right: 15px              
                    font-family: 'OpenSans-Semibold'
                    font-size: 14px

