<template>
    <b-modal
            v-model="showColorComponent"
            centered
            hide-header
            hide-footer
            class="modal-color-picker"
            dialog-class="modal-color-picker__dialog"
            content-class="modal-color-picker__content"
            body-class="modal-color-picker__body"
            id="color-picker"
            width="auto"
        >
        <sketch-picker 
           
            @input="updateValue"
            :value="colors"
            :presetColors="[ 
                '#F98E83', '#84D2DE', '#D4D4D4', '#8BCFB6', '#E7AFE6', '#F3A2BB', '#A2E4F3'
            ]"
        />
        <button class="button-block" @click="close">
            <div class="button-block__wrapper">
                <p>ОК</p>
            </div>
        </button>
    </b-modal>
</template>

<script>
import {Sketch} from "vue-color";

export default {
    components: {
        'sketch-picker' : Sketch
    },
    props: {
        data: { type: String, default: '', required: false }
    },
    data(){
        return{
            colors: '#59c7f9',          
            showColorComponent: false,
            changeColorBg: {a: null, hex: '', hex8: ''}
        }
    },
    mounted(){
        this.updateValue();
    },
    methods: {
        updateValue(data){
            this.changeColorBg = data
            if (data) {
                this.$emit('changeColorBg', this.changeColorBg.hex)
            }   
        },
        close() {
            this.showColorComponent = false
        }
    },
    watch:{
        colors: {
            handler(bef){
                console.log("bef "+ bef)
            }, deep: true
        }
    }
    
}
</script>>