.plant-info
    &__dialog
        min-width: 80%
        height: 80%
    &__body
        padding: 0
    &__content
        height: 100%
        padding: 0
    &__wrapper 
        display: flex 
        height: 100%
        &__item
            width: 50%
            height: 100%
            &:last-of-type
                padding: 35px 45px
                display: flex 
                flex-direction: column
                justify-content: space-between
    &__photo
        width: 100%
        height: 100%
        background: rgba(196, 196, 196, 0.23)
        position: relative
        display: flex
        justify-content: center
        .photo
            max-height: 100%
            position: absolute
            bottom: 0
    
    &__title
        height: 15%
        display: flex 
        align-items: flex-end 
        font-family: 'Cormorant-Semibold'
        font-size: 30px
    &__articul
        height: 10%
        font-family: 'OpenSans-Light'
        //letter-spacing: 1.2px
    &__desc
        height: 10%
        font-family: 'OpenSans-Light'
    &__price
        height: 15%
        font-family: 'OpenSans-Regular'
        font-size: 25px
    &__colors
        height: 20%
        display: flex 
        align-items: center
        .center-access__list
            display: flex
            &__item
                margin-right: 20px
                &:hover 
                    cursor: pointer
                .wrapper
                    height: 45px 
                    display: felx 
                    align-items: center
                    .circle_wrapper
                        width: 35px
                        height: 35px 
                        
                .activeItem
                    border-bottom: 1px solid #43715B
    &__sizes
        height: 15%
        display: flex 
        align-items: center
        .center-access__list
            display: flex 
            &__item
                margin-right: 20px
                font-family: 'OpenSans-Light'
                
                &:hover
                    cursor: pointer
            .activeItem 
                font-family: 'OpenSans-Semibold'
               
    &__buttons
        .button
            background: #43715B
            color: #ffffff
            height: 40px
            width: 200px
            display: flex 
            align-items: center 
            justify-content: center
            font-family: 'OpenSans-Light'