.basket-total 
    background: #CBE0D3
    width: 23.5%
    height: 250px
    margin-left: 15px
    margin-top: 15px
    display: flex 
    flex-direction: column 
    justify-content: space-between
    align-items: center
 
    &__title
        border-bottom: 1px solid #FFFFFF
        width: 100% 
        height: 35%
        padding: 20px 40px
        text-align: left
        font-size: 30px
        font-family: Cormorant
    &__info
        padding: 10px 20px 0px 20px
        height: 35%
        width: 100%
        &-list 
            height: 100%
            display: flex 
            flex-direction: column
            justify-content: space-between 
            &__item
                height: 100%
                color: #293D35
                font-size: 16px
                display: flex 
                justify-content: space-between
                align-items: center
                .item-left
                    font-family: 'OpenSans-Light'
                .item-right
                    font-family: 'OpenSans-Semibold'
                input 
                    border: 1px solid #ffffff
                    background: transparent
                    height: 85%
                    width: 100%
                    
    &__button
        padding: 10px 10px 20px 20px
        display: flex 
        justify-content: center
        align-items: center
        width: 100%
        height: 30%
        &:hover
            cursor: pointer
        &__wrapper 
            background: #43715B
            width: 60% 
            height: 50px
            font-family: 'OpenSans-Regular'
            display: flex
            justify-content: center
            align-items: center 
            color: #ffffff
