.del-form
    &__dialog
        min-width: 50%
        height: 60%
    &__body
        padding: 0
    &__content
        height: 80%
        padding: 0
    &__wrapper 
        padding: 40px
        form 
            div
                .mt-2 
                    font-family: 'OpenSans-Light' !important
                    font-size: 15px !important
                .form-control 
                    margin: 10px 0
                    margin-bottom: 15px
                .valid
                    color: red
                    height: 30px
                    transition: 0.2s linear
                .button-wrapper
                    width: 100%
                    display: flex 
                    align-items: center
                    margin-top: 20px
                    .button
                        margin: 10px 0
                    .response 
                        margin-right: 15px
        .valid-address
            margin-bottom: 10px 
    &__title
        font-family: 'Cormorant-SemiBold'
        font-size: 30px
    &__desc
        font-family: 'OpenSans-Light'
        font-size: 15px
        margin: 10px 0
   