.select-address
    margin-bottom: 10px
    &:hover 
        cursor:  pointer
        //box-shadow: inset 2px 4px 4px #1B6F13 
        border: 2px solid rgba(92, 92, 92, 0.37) 
    
    &__wrapper
    &__item
        display: flex 
        
        .item-title
            font-family: 'OpenSans-Semibold'
            font-size: 14px
            margin-right: 15px
        .item-content
            font-family: 'OpenSans-Light'
            font-size: 14px
.selected 
    border: 2px solid #43715B
    &:hover
        border: 2px solid #43715B