.add-pos
    width: 100% !important
    display: flex 
    flex-direction: column
    justify-content: space-around
    &__content
        width: 50%
        height: 70%
    &__dialog
        width: 50% !important
        display: flex 
        justify-content: center
        max-width: 50%
        height: 70% 
    &__body
        width: 100% !important
        padding: 20px
        .add-pos
            height: 100%   
            width: 100%                
            display: flex 
            &__wrapper
                display: flex 
                flex-direction: column
                justify-content: space-around
                width: 100%
                height: 70%
            &__title
                height: 20%
                width: 100%
                display: flex 
                align-items: center  
                .title 
                    width: 30%
                    font-size: 16px
                .name
                    font-family: 'OpenSans-Semibold'
                    justify-content: flex-start
                .circle_wrapper
                    width: 25px
                    height: 25px
                    margin-left: 25px
            &__selected 
                display: flex
                align-items: center
                width: 70%
                height: 50%
            &-access
                height: 80%
                &__title
                    height: 30%              
                .center-access__list
                    width: 100%
                    height: 80%
                    display: flex
                    
                    margin-top: 15px
                    &__item
                        .circle_wrapper
                            margin-right: 15px
                            width: 25px
                            height: 25px
                            &:hover
                                cursor: pointer
                    .sizes
                        margin-right: 15px
                        
            &__select-color
                height: 15%
                display: flex
                div 
                    width: 25px 
                    height: 25px
                    margin-left: 20px
                    border-radius: 50%
            &__buttons 
                display: flex 
                .button
                    height: 20%
                    width: auto
                    padding: 10px 15px
                    height: 40px
                    background: #CBE0D3
                    border-radius: 4px
                    margin-right: 25px
                    margin-bottom: 15px
                    display: flex 
                    justify-content: center 
                    align-items: center
                    line-height: 16px
                    border: 1px solid transparent 
                    color: #293D35
        .add-pos-col
            &-access
                height: 30%
                &__title
                    height: 30%              
                .center-access__list
                    width: 100%
                    height: 30%
                    display: flex
                    margin-top: 15px
                    &__item
                        .circle_wrapper
                            margin-right: 15px
                            width: 25px
                            height: 25px
                            &:hover
                                cursor: pointer
                    